.about-hd {
    background: url(../img/about/head-bg.jpg) no-repeat center;
    background-size: 100%;

    @include breakpoint(1280px) {
        background-size: auto;
    }

    @include breakpoint(751px) {
        background: url(../img/about/head-bg_mob.jpg) no-repeat center;
    }
}

.below-about {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 18px;
    cursor: pointer;
    margin: 549px auto 0;
    text-align: center;

    @include breakpoint(751px) {
        width: 60px;
        height: 60px;
        border-radius: 35px;
        margin: 1076px auto 0;
    }

    & span {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        transform: translateY(3.5px) rotate(50grad);

        @include breakpoint(751px) {
            width: 13px;
            height: 13px;
            transform: translateY(20px) rotate(50grad);
        }
    }
}

.text-about {
    max-width: 780px;
    margin: 157px auto 0;
    font-family: "OpenSans Light 300";
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.63px;
    text-align: center;

    @include breakpoint(751px) {
        max-width: 690px;
        margin: 297px auto 0;
        padding: 0 10px;
        font-size: 35px;
        line-height: 46px;
        letter-spacing: 1.78px;
    }

    @include breakpoint(576px) {
        margin: 100px auto 0;
        font-size: 25px;
        line-height: 38px;
        letter-spacing: unset;
    }

    @include breakpoint(480px) {
        font-size: 20px;
        line-height: 35px;
    }
}

.services {
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(2, 1fr);
    margin: 152px auto -80px;

    @include breakpoint(751px) {
        grid-template-columns: repeat(1, 1fr);
        margin: 290px auto -77px;
    }

    @include breakpoint(576px) {
        margin: 100px auto 0
    }
}

.services__img {
    margin-bottom: -4.8px;

    & img {
        max-width: 100%;
    }

    & img:first-child {
        @include breakpoint(751px) {
            display: none;
        }
    }

    & img:last-child {
        display: none;
    }

    & img:last-child {
        @include breakpoint(751px) {
            display: inline-block;
        }
    }
}

.services__box {
    background-color: #f9f9f9;
    color: #505d68;

    & h2 {
        font-family: 'OpenSans Semibold 600';
        font-size: 45px;
        line-height: 45px;
        letter-spacing: 1.5px;
        margin: 6% 0 0 6%;

        @include breakpoint(1170px) {
            font-size: calc(35px + (45 - 35) * ((100vw - 752px) / (1170 - 752)));
            line-height: calc(35px + (45 - 35) * ((100vw - 752px) / (1170 - 752)));
        }

        @include breakpoint(751px) {
            font-size: 85px;
            line-height: 85px;
            margin: 77px 0 0 75px;
            letter-spacing: 2.5px;
        }

        @include breakpoint(576px) {
            font-size: 55px;
            line-height: 55px;
            margin: 40px 0 0 55px;
            letter-spacing: unset;
        }

        @include breakpoint(480px) {
            font-size: 35px;
            line-height: 35px;
        }
    }

}


.services__text {
    font-family: 'OpenSans Light 300';
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.3px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 12.8%;

    @include breakpoint(1170px) {
        margin-top: 6.8%;
        font-size: calc(12px + (18 - 12) * ((100vw - 752px) / (1170 - 752)));
        line-height: calc(30px + (30 - 22) * ((100vw - 1170px) / (1170 - 752)));
    }

    @include breakpoint(751px) {
        grid-template-columns: repeat(1, 1fr);
        font-size: 34px;
        line-height: 56px;
    }

    @include breakpoint(576px) {
        font-size: 25px;
        line-height: 45px;
        margin: 35px 0 0 55px;
    }

    @include breakpoint(480px) {
        font-size: 20px;
        line-height: 35px;
    }

    & div {
        margin: 0 0 0 18%;
        max-width: 220px;
        letter-spacing: .6px;

        @include breakpoint(751px) {
            margin: 101px 0 0 76px;
            max-width: 565px;
        }

        @include breakpoint(576px) {
            margin: 0;
        }
    }

    & ul {
        list-style-type: none;
        padding: 0;
        margin: 10% 0 0 15.7%;
        letter-spacing: .65px;

        @include breakpoint(751px) {
            margin: 147px 0 0 89px;
            letter-spacing: 1.5px;
        }

        @include breakpoint(576px) {
            margin: 25px 0 0 25px;
            letter-spacing: unset;
        }

        & span {
            position: relative;
            left: -7px;
        }
    }
}