a {
    text-decoration: none;
}

.blog-hd {
    background: url(../img/blog/head-bg.jpg) no-repeat center;
    height: 400px;
    background-size: 100%;

    @include breakpoint(1280px) {
        background-size: auto;
    }

    @include breakpoint(751px) {
        background: none;
        height: 113px;
    }
}

.section-blog__wrap {
    max-width: 1150px;
    margin: 77px auto 0;
    box-sizing: border-box;
    padding: 0px 4.9%;
    background-color: #f9f9f9;
    overflow: hidden;

    @include breakpoint(751px) {
        max-width: 674px;
        margin: 66.6px auto 0;
        padding: 0;
    }
}

.section-blog__inner {
    display: grid;
    grid-template-columns: 65% 29.3%;
    justify-content: space-between;

    @include breakpoint(751px) {
        display: block;
    }
}

.box-posts,
.side-area {
    margin: 64px 0 0 0;

    @include breakpoint(751px) {
        margin: 0;
    }
}

.box-post {
    max-width: 666px;
    overflow: hidden;
    background-color: #fff;
    padding: 0 4.95%;

    @include breakpoint(751px) {
        max-width: 674px;
        padding: 0 8.65%;
    }

    & h1 {
        margin: 26.5px 0 0 0px;
        letter-spacing: -.2px;
        font-family: 'OpenSans Light 300';
        font-size: 30px;
        line-height: 30px;
        color: black;

        @include breakpoint(751px) {
            margin: 34px 0 0 0px;
            letter-spacing: -0.01px;
            font-size: 55px;
            line-height: 85px;
        }

        @include breakpoint(576px) {
            letter-spacing: unset;
            font-size: 30px;
            line-height: 45px;
        }
    }

    & h4 {
        margin: 26px 0 0 0px;
        font-family: 'OpenSans Light 300';
        font-size: 15px;
        line-height: 15px;
        color: #d3b000;

        @include breakpoint(751px) {
            margin: 46px 0 0 0px;
            letter-spacing: -.07px;
            font-size: 27px;
            line-height: 27px;
        }

        @include breakpoint(576px) {
            margin: 28px 0 0 0px;
            letter-spacing: unset;
            font-size: 22px;
            line-height: 22px;
        }
    }
}

.box-post__img {
    max-width: 600px;
    margin: 30px 0 0;

    & img {
        max-width: 100%;
    }

    & img:first-child {
        @include breakpoint(751px) {
            display: none;
        }
    }

    & img:last-child {
        display: none;

        @include breakpoint(751px) {
            display: inline-block;
        }
    }
}

.box-post__text {
    margin: 31.5px 0 0 0px;
    max-width: 585px;
    font-family: 'Cardo Regular 400';
    font-size: 16px;
    line-height: 25px;
    color: #021725;

    @include breakpoint(751px) {
        font-size: 30px;
        line-height: 47px;
        margin: 55px 0 0 0px;
        letter-spacing: -0.19px;
        max-width: 539px;
    }

    @include breakpoint(576px) {
        font-size: 20px;
        line-height: 33px;
        margin: 35px 0 0 0px;
        letter-spacing: unset;
    }
}

.box-post__button {
    margin: 64px 0 31px 0px;
    width: 191px;
    height: 48px;

    @include breakpoint(751px) {
        margin: 125.5px 0 61.5px 0px;
        width: 360px;
        height: 91px;
    }

    @include breakpoint(576px) {
        margin: 75px 0 40px 0px;
        width: 200px;
        height: 55px;
    }

    & a {
        width: 191px;
        height: 48px;
        padding: 16px 55px;
        display: inline-block;
        font-family: 'OpenSans Light 300';
        font-size: 16px;
        line-height: 16px;
        box-sizing: border-box;
        border: solid 1px black;

        @include breakpoint(751px) {
            padding: 31px 104px;
            letter-spacing: -.26px;
            width: 360px;
            height: 91px;
            font-size: 30px;
            line-height: 30px;
        }

        @include breakpoint(576px) {
            padding: 15px 49px;
            letter-spacing: unset;
            width: 200px;
            height: 55px;
            font-size: 20px;
            line-height: 20px;
        }
    }

    & a:hover {
        color: white;
        background-color: #b5b5b5;
        transition: all ease .5s;
    }
}

.box-post:last-child {
    margin-top: 57px;

    @include breakpoint(751px) {
        margin-top: 120px;
    }

    & .box-post__img {
        @include breakpoint(751px) {
            margin: 59px 0 0 0;
            ;
        }
    }
}

.side-area {
    @include breakpoint(751px) {
        margin: 174px 0 0 0;
        padding: 0 8.65%;
    }

    @include breakpoint(576px) {
        margin: 100px 0 0 0;
    }
}

.rescent-posts {
    margin: 0.9px 0 0 0;
}

.categories,
.projects {
    margin: 48px 0 0 0;

    @include breakpoint(751px) {
        margin: 104.8px 0 0 0;
    }

    @include breakpoint(576px) {
        margin: 60px 0 0 0;
    }
}

.rescent-posts,
.categories {

    & h2 {
        margin: 0;
        font-family: 'OpenSans Light 300';
        font-size: 23px;
        line-height: 23px;
        color: #021725;
        letter-spacing: -.16px;

        @include breakpoint(751px) {
            font-size: 42px;
            line-height: 42px;
            letter-spacing: unset;
        }

        @include breakpoint(576px) {
            font-size: 28px;
            line-height: 28px;
            letter-spacing: unset;
        }
    }

    & hr {
        border: solid 3px #d3b000;
        margin: 15px 0px 38px 0;

        @include breakpoint(751px) {
            border: solid 4px #d3b000;
            margin: 27px 0px 67px 0;
        }

        @include breakpoint(576px) {
            border: solid 2px #d3b000;
        }
    }

    & div {
        margin: 15.5px 0 0 0;
    }

    & a {
        font-family: 'OpenSans LightItalic 300';
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -.07px;
        color: #021725;

        @include breakpoint(751px) {
            font-size: 30px;
            line-height: 30px;
            letter-spacing: -.16px;
        }

        @include breakpoint(576px) {
            font-size: 22px;
            line-height: 22px;
            letter-spacing: unset;
        }
    }
}

.projects {
    @include breakpoint(751px) {
        margin: 98px 0 0 0;
    }

    & h2 {
        margin: 0;
        font-family: 'OpenSans Light 300';
        font-size: 23px;
        line-height: 23px;
        color: #021725;
        letter-spacing: -.16px;

        @include breakpoint(751px) {
            font-size: 42px;
            line-height: 42px;
            letter-spacing: unset;
        }

        @include breakpoint(576px) {
            font-size: 28px;
            line-height: 28px;
            letter-spacing: unset;
        }
    }

    & hr {
        border: solid 3px #d3b000;
        margin: 15px 0px 38px 0;

        @include breakpoint(751px) {
            border: solid 4px #d3b000;
            margin: 27px 0px 59px 0;
        }

        @include breakpoint(576px) {
            border: solid 2px #d3b000;
        }
    }

    & .section-project__boxes {
        margin: -10px 0 0 0;
    }

    & img {
        max-width: 100%;
    }
}

.section-blog__boxes_mob {
    display: none;

    @include breakpoint(751px) {
        display: block;
    }

    &>div:nth-child(2),
    &>div:nth-child(4) {
        margin: -1px 0 0 0;

        @include breakpoint(576px) {
            margin: 0;
        }
    }

    &>div:nth-child(3) {
        margin: -3px 0 0 0;

        @include breakpoint(576px) {
            margin: 0;
        }
    }
}

.section-blog__button {
    width: 240px;
    height: 59px;
    margin: 61px auto 65px;

    @include breakpoint(751px) {
        margin: 76px auto 62px;
        width: 450px;
        height: 110px;
    }

    @include breakpoint(576px) {
        margin: 45px auto 45px;
        width: 200px;
        height: 55px;
    }


    & a {
        display: inline-block;
        padding: 21px 59px 21px 57px;
        font-family: 'OpenSans Light 300';
        font-size: 16px;
        line-height: 16px;
        color: #021725;
        border: solid 1px black;

        @include breakpoint(751px) {
            padding: 40px 110px 38px 109px;
            letter-spacing: -.1px;
            font-size: 30px;
            line-height: 30px;
        }

        @include breakpoint(576px) {
            padding: 17px 22px;
            letter-spacing: unset;
            font-size: 20px;
            line-height: 20px;
        }
    }

    & a:hover {
        color: white;
        background-color: #b5b5b5;
        transition: all ease .5s;
    }
}