.contact-hd {
    background: url(../img/contact/head-bg.jpg) no-repeat center;
    background-size: 100%;
    height: 400px;

    @include breakpoint(1280px) {
        background-size: auto;
    }

    @include breakpoint(751px) {
        background: none;
        height: 113px;
    }
}

.section-contact {
    & h4 {
        margin: 121px 0 0 0;
        text-align: center;
        font-family: 'OpenSans Semibold 600';
        font-size: 18px;
        line-height: 18px;
        color: #d4af37;
        text-transform: uppercase;

        @include breakpoint(751px) {
            font-family: 'OpenSans Regular 400';
            margin: 123px 0 0 0;
            font-size: 28px;
            line-height: 28px;
        }

        @include breakpoint(576px) {
            margin: 50px 0 0 0;
            font-size: 22px;
            line-height: 22px;
        }
    }

    & h1 {
        margin: 14px 0 0 0;
        text-align: center;
        font-family: 'OpenSans Bold 700';
        font-size: 44px;
        line-height: 44px;
        color: #021725;
        opacity: 0.7;

        @include breakpoint(751px) {
            font-family: 'OpenSans Semibold 600';
            margin: 27px 0 0 0;
            font-size: 90px;
            line-height: 90px;
        }

        @include breakpoint(576px) {
            font-size: 45px;
            line-height: 45px;
        }
    }
}

.contact-box {
    margin: 84.5px auto 0;
    max-width: 768px;
    display: grid;
    grid-template-areas: "adress img"
        "text tel";

    @include breakpoint(800px) {
        max-width: 708px;
    }

    @include breakpoint(751px) {
        margin: 148.2px auto 0;
        padding: 0 10px;
        max-width: 670px;
        grid-template-columns: 1fr;
        grid-template-areas: unset;
    }

    @include breakpoint(576px) {
        margin: 70px auto 0;
    }
}

.contact-adress,
.contact-tel {
    max-width: 300px;
    height: 300px;
    color: white;

    @include breakpoint(800px) {
        max-width: 270px;
        height: 280.51px;
    }

    @include breakpoint(751px) {
        max-width: 670px;
        height: 374px;
        box-sizing: border-box;
    }

    @include breakpoint(480px) {
        height: 300px;
    }

    & p {
        margin: 40px 0 0 30px;
        font-family: 'OpenSans Regular 400';
        font-size: 25px;
        line-height: 32px;

        @include breakpoint(751px) {
            margin: 76px 0 0 56px;
            letter-spacing: .05px;
            font-size: 45px;
            line-height: 58px;
        }

        @include breakpoint(576px) {
            letter-spacing: unset;
            font-size: 32px;
            line-height: 55px;
        }

        @include breakpoint(480px) {
            margin: 35px 0 0 55px;
            font-size: 24px;
            line-height: 50px;
        }
    }
}

.contact-adress {
    background-color: #d3b000;
}

.line {
    margin: 33px 0 0 31.6px;
    width: 30px;
    height: 3px;
    background-color: #fff;

    @include breakpoint(751px) {
        margin: 60.6px 0 0 60px;
        width: 56px;
        height: 5px;
    }

    @include breakpoint(576px) {
        margin: 60px 0 0 60px;
        width: 40px;
        height: 4px;
    }
}

.contact-img {
    margin: 0 0 -5px -162px;

    @include breakpoint(800px) {
        margin: 0 0 -5px -162px;
    }

    @include breakpoint(751px) {
        margin: 0 0 -4px 0;
    }

    & img:first-child {
        @include breakpoint(800px) {
            max-width: 432px;
        }

        @include breakpoint(751px) {
            display: none;
            max-width: 100%;
        }
    }

    & img:last-child {
        display: none;

        @include breakpoint(751px) {
            display: inline-block;
            max-width: 100%;
        }
    }
}

.contact-text {
    width: 468px;
    height: 300px;
    background-color: #f9f9f9;

    @include breakpoint(800px) {
        width: 438px;
        height: 280.51px;
    }

    @include breakpoint(751px) {
        width: unset;
        height: 505px;
    }

    @include breakpoint(576px) {
        padding: 0 10px 0 0px;
    }

    @include breakpoint(480px) {
        padding: 0 10px 15px 0px;
        height: unset;
    }

    & p {
        margin: 37px 0 0 45px;
        max-width: 370px;
        letter-spacing: -.05px;
        font-family: 'OpenSans Light 300';
        font-size: 20px;
        line-height: 32px;
        color: #323d43;

        @include breakpoint(751px) {
            font-size: 30px;
            line-height: 47px;
            margin: 58px 0 0 90px;
            max-width: 500px;
            letter-spacing: -0.25px;
        }

        @include breakpoint(576px) {
            font-size: 25px;
            line-height: 47px;
            margin: 60px 0 0 55px;
            letter-spacing: unset;
        }

        @include breakpoint(480px) {
            font-size: 20px;
            line-height: 33px;
            margin: 45px 0 0 40px;
        }
    }
}

.contact-tel {
    background-color: #212121;

    @include breakpoint(751px) {
        height: 373.2px;
    }

    & p:nth-child(2) {
        @include breakpoint(751px) {
            margin: 76px 0 0 57px;
        }

        @include breakpoint(480px) {
            margin: 35px 0 0 55px;
            word-spacing: -1px;
        }
    }

    & p:last-child {
        margin: 0 0 0 30px;

        @include breakpoint(751px) {
            margin: 0 0 0 57px;
        }

        @include breakpoint(480px) {
            word-spacing: -1px;
            margin: 0 0 0 55px;
        }
    }

    .line {
        @include breakpoint(751px) {
            margin: 59.6px 0 0 60px;
        }
    }
}

.contact-email {
    margin: 77px auto 88px;
    width: 238px;

    @include breakpoint(751px) {
        margin: 154px auto 0;
        width: 449px;
    }

    @include breakpoint(576px) {
        width: 226px;
        margin: 100px auto 0;
    }

    & a {
        padding: 22px 58px;
        letter-spacing: -.35px;
        width: 238px;
        height: 57px;
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px black;
        color: #021725;
        font-family: 'OpenSans Light 300';
        font-size: 14px;
        line-height: 14px;

        @include breakpoint(751px) {
            font-family: 'OpenSans Regular 400';
            padding: 39.9px 103px;
            letter-spacing: -0.1px;
            font-size: 27px;
            line-height: 27px;
            width: 449px;
            height: 107px;
        }

        @include breakpoint(576px) {
            padding: 22px 12px;
            letter-spacing: unset;
            font-size: 22px;
            line-height: 22px;
            width: 226px;
            height: 56px;
        }
    }

    & a:hover {
        color: white;
        background-color: #b5b5b5;
        transition: all ease .5s;
    }
}