@font-face {
    font-family: 'OpenSans Light 300';
    src: url('../fonts/OpenSans-Light.ttf')
}
@font-face {
    font-family: 'OpenSans LightItalic 300';
    src: url('../fonts/OpenSans-LightItalic.ttf')
}
@font-face {
    font-family: 'OpenSans Regular 400';
    src: url('../fonts/OpenSans-Regular.ttf')
}
@font-face {
    font-family: 'OpenSans Medium 500';
    src: url('../fonts/OpenSans-Medium.ttf')
}
@font-face {
    font-family: 'OpenSans Semibold 600';
    src: url('../fonts/OpenSans-SemiBold.ttf')
}
@font-face {
    font-family: 'OpenSans Bold 700';
    src: url('../fonts/OpenSans-Bold.ttf')
}
@font-face {
    font-family: 'OpenSans ExtraBold 800';
    src: url('../fonts/OpenSans-ExtraBold.ttf')
}