header {
    background: url(../img/index/head-bg.jpg) no-repeat center;
    height: 700px;
    background-size: 100%;

    @include breakpoint(1280px) {
        background-size: auto;
    }

    @include breakpoint(751px) {
        height: 1337px;
        background: url(../img/index/head-bg_mob.jpg) no-repeat center;
    }


    &>h1 {
        font-family: 'OpenSans Light 300';
        font-size: 80px;
        font-weight: 300;
        line-height: 60px;
        letter-spacing: 0.05em;
        color: #ffffff;
        margin: 241px 0 0 5px;
        text-align: center;

        @include breakpoint(1200px) {
            font-size: 60px;
        }

        @include breakpoint(992px) {
            font-size: 50px;
        }

        @include breakpoint(751px) {
            font-size: 95px;
            line-height: 116px;
            margin: 360px 0 0 7px;
            letter-spacing: .029em;
        }

        @include breakpoint(576px) {
            font-size: 70px;
        }

        @include breakpoint(480px) {
            font-size: 59px;
            line-height: 105px;
            margin: 349px 10px 0 10px;
        }

        &>span {
            font-family: 'OpenSans LightItalic 300';
        }
    }

    & .below {
        display: none;
        width: 60px;
        height: 60px;
        border: 2px solid white;
        border-radius: 35px;
        cursor: pointer;
        margin: 79px auto 0;
        text-align: center;

        & span {
            display: inline-block;
            width: 13px;
            height: 13px;
            border-color: #fff;
            border-style: solid;
            border-width: 0 2px 2px 0;transform: translateY(20px) rotate(50grad);
        }

        @include breakpoint(751px) {
            display: block;
        }
    }

}

.logo {
    margin-top: 16px;

    & img {
        @include breakpoint(751px) {
            width: 365px;
        }

        @include breakpoint(576px) {
            width: 200px;
        }
    }

    @include breakpoint(751px) {
        margin: 14px 0 0 -1px;
    }

    @include breakpoint(576px) {
        margin-top: 10px;
    }
}

.box {
    display: flex;
    justify-content: space-between;
    padding: 0 42px 0 48px;

    @include breakpoint(751px) {
        height: 113px;
        background-color: rgba(35, 45, 51, .7);
        padding: 0 0 0 30px;
    }

    @include breakpoint(576px) {
        height: 64px;
    }
}

menu {
    display: flex;
    justify-content: end;
    padding: 0;
    cursor: pointer;
    margin: 22px 0 0 0;

    @include breakpoint(751px) {
        width: 87px;
        margin: 0;
        padding: 0;
    }

    @include breakpoint(576px) {
        width: 64px;
    }
}

.menu-title {
    width: 51px;
    background-color: unset;
    transition: all 1s ease;

    @include breakpoint(751px) {
        display: none;
    }
}

.menu-title {
    height: 28px;
    font-family: 'OpenSans Semibold 600';
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    padding-left: 4px;
    position: relative;
}

.hamburger {
    width: 26px;
    height: 28px;
    box-sizing: border-box;
    padding: 8px 2px;

    @include breakpoint(751px) {
        width: 87px;
        height: 113px;
        background: rgb(35, 45, 51);
        padding: 0;
    }

    @include breakpoint(576px) {
        width: 64px;
        height: 64px;
    }
}

.hamburger-line {
    width: 18px;
    height: 2px;
    position: relative;
    top: 5px;
    background: white;
    transition: 0.5s;

    @include breakpoint(751px) {
        width: 35px;
        height: 4px;
        top: 53px;
        left: 26px;
    }

    @include breakpoint(576px) {
        top: 32px;
        left: 15px;
    }

    &:before,
    &:after {
        content: "";
        width: 18px;
        height: 2px;
        position: absolute;
        transition: 0.5s;

        @include breakpoint(751px) {
            width: 35px;
            height: 4px;
        }
    }

    &:before {
        background: white;
        top: -5px;

        @include breakpoint(751px) {
            top: -10px;
        }
    }

    &:after {
        background: white;
        top: 5px;

        @include breakpoint(751px) {
            top: 10px;
        }
    }
}

.menu-items {
    width: 55px;
    opacity: 0;
    transition: all 1s ease;
}

.menu-items {
    position: absolute;
    top: 49px;
    list-style-type: none;
    padding: 0;
    margin: 0 26px 0;

    @include breakpoint(751px) {
        width: 170px;
        top: 113px;
        left: 0;
        margin: 0;
    }

    @include breakpoint(576px) {
        top: 64px;
        width: 125px;
    }

    & li {
        background-color: rgba(112, 109, 109, 0.9);
        border: solid 1px gray;
        padding: 2px 0 2px 10px;

        &:hover {
            background-color: gray;
        }
    }

    & a {
        display: block;
        font-family: 'OpenSans Regular 400';
        text-decoration: none;
        color: white;
        font-size: 14px;

        @include breakpoint(751px) {
            font-size: 30px;
        }

        @include breakpoint(576px) {
            font-size: 25px;
        }
    }
}

.active {
    .menu-title {
        width: 166px;
        background-color: rgb(94, 90, 90);
        transition: all 1s ease;

        @include breakpoint(751px) {
            display: none;
        }
    }

    .menu-items {
        width: 170px;
        opacity: 0.9;
        transition: all 1s ease;

        @include breakpoint(751px) {
            width: 100%;
        }
    }

    .hamburger {
        background-color: yellow;
    }

    .hamburger-line {
        background: rgba(0, 0, 0, 0);
    }

    .hamburger-line:after,
    .hamburger-line:before {
        top: 0;
        background-color: black;
    }

    .hamburger-line:before {
        transform: rotate(45deg);
    }

    .hamburger-line:after {
        transform: rotate(-45deg);
    }
}

.section-index {
    display: grid;

    &>* {
        text-align: center;
    }

    &>h2,
    h4 {
        font-family: 'OpenSans Bold 700';
        font-size: 13px;
        line-height: 7px;
        text-transform: uppercase;
        letter-spacing: 0.045em;
        color: #d4af37;

    }

    & h2 {
        @include breakpoint(751px) {
            font-family: "OpenSans Regular 400";
            font-size: 28px;
            letter-spacing: unset;
        }

        @include breakpoint(576px) {
            font-size: 20px;
        }
    }

    &>h3 {
        opacity: 0.7;
        font-family: 'OpenSans Semibold 600';
        font-size: 44px;
        line-height: 41px;
        letter-spacing: 0.05em;
        color: #021725;

        @include breakpoint(751px) {
            font-size: 90px;
            line-height: 92px;
            letter-spacing: unset;
        }

        @include breakpoint(576px) {
            font-size: 55px;
            line-height: 65px;
        }

        @include breakpoint(480px) {
            font-size: 48px;
            line-height: 55px;
        }
    }

    & button {
        font-family: 'OpenSans Light 300';
        font-size: 14px;
        line-height: 32px;
        letter-spacing: 0.02em;
        color: #021725;
        border: 1px solid #000000;
        width: 238px;
        height: 57px;
        background-color: inherit;
    }

    & .who-we {
        margin: 81px 0 0;

        &+h3 {
            margin: 19px 0 0;

            @include breakpoint(751px) {
                margin: 31px 0 0 0;
            }
        }

        @include breakpoint(751px) {
            margin: 160px 0 0 4px;
        }

        @include breakpoint(576px) {
            margin: 80px 0 0 0px;
        }
    }
}


.text {
    font-family: 'OpenSans Light 300';
    max-width: 780px;
    margin: 46px auto 0;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.036em;
    color: #021725;

    &+button {
        margin: 41px auto 0;

        @include breakpoint(751px) {
            font-size: 27px;
            width: 452px;
            height: 109px;
            margin: 59px auto 0;
            letter-spacing: .05em;
        }

        @include breakpoint(576px) {
            font-size: 20px;
            width: 295px;
            height: 75px;
        }

        @include breakpoint(480px) {
            font-size: 16px;
            width: 230px;
            height: 50px;
            margin: 30px auto 0;
        }
    }

    @include breakpoint(751px) {
        font-size: 28px;
        line-height: 52px;
        margin: 61px 36px 0;
        letter-spacing: .013em;
    }

    @include breakpoint(576px) {
        font-size: 23px;
        line-height: 45px;
    }

    @include breakpoint(480px) {
        font-size: 20px;
        line-height: 39px;
        margin: 40px 36px 0;
    }
}

.section-index {
    & .what-we {
        margin: 164px 0 0;

        &+h3 {
            margin: 19px 0 0;

            @include breakpoint(751px) {
                margin: 8px 0 0 0;
            }

            @include breakpoint(480px) {
                font-size: 48px;
                line-height: 55px;
            }
        }

        @include breakpoint(751px) {
            line-height: 60px;
            margin: 282px 0 0 0;
        }

        @include breakpoint(576px) {
            margin: 100px 0 0 0;
        }

        @include breakpoint(480px) {
            font-size: 20px;
            line-height: 20px;
        }
    }
}

.boxes {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 3px;
    max-width: 1280px;
    margin: 90px auto 0;
    padding: 0;

    &>li {
        width: 317px;
        height: 300px;
    }

    @include breakpoint(751px) {
        display: none;
    }
}

.boxes-mob {
    display: none;
    list-style-type: none;
    margin: 90px auto 0;
    padding: 0;

    & img {
        max-width: 100%;
    }

    @include breakpoint(751px) {
        display: block;
        margin: 157px auto 0;
    }

    @include breakpoint(480px) {
        margin: 50px auto 0;
    }
}

.section-index {
    .we-are {
        margin: 162px 0 0;

        &+h3 {
            margin: 19px 0 0;

            &+.text {
                margin: 48px auto 0;
                letter-spacing: .036em;

                @include breakpoint(751px) {
                    margin: 60px 38px 0;
                    line-height: 47px;
                    letter-spacing: .0115em;
                }

                @include breakpoint(576px) {
                    line-height: 39px;
                }
            }

            @include breakpoint(751px) {
                margin: 8px 0 0 0;
            }
        }

        @include breakpoint(751px) {
            line-height: 60px;
            margin: 281px 0 0 0;
        }

        @include breakpoint(576px) {
            margin: 100px 0 0 0;
        }
    }

}

.cards {
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 246px);
    column-gap: 5px;
    text-align: left;

    @include breakpoint(765px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(751px) {
        grid-template-columns: unset;
        margin: 121px auto -4px;
    }
}

.card {
    background-color: #f9f9f9;

    & .card-inner {
        margin: 0 21px 40px 16px;

        & h4 {
            margin: 15px 0 0;
            font-size: 14px;
            letter-spacing: unset;

            @include breakpoint(751px) {
                font-family: 'OpenSans Semibold 600';
                font-size: 29px;
                line-height: 29px;
                margin: 28px 13px 0;
            }

            @include breakpoint(576px) {
                font-size: 22px;
                line-height: 22px;
                margin: 22px 13px 0;
            }
        }

        & h5 {
            opacity: 0.7;
            font-family: 'OpenSans Regular 400';
            font-weight: 400;
            font-size: 21px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #021725;
            margin: 20px 0 0;

            @include breakpoint(751px) {
                font-size: 40px;
                line-height: 40px;
                margin: 31px 13px 0;
            }

            @include breakpoint(576px) {
                font-size: 30px;
                line-height: 30px;
                margin: 22px 13px 0;
            }
        }

        & p {
            font-family: 'OpenSans Light 300';
            font-size: 13px;
            line-height: 23px;
            letter-spacing: .06em;
            color: #021725;
            margin: 29px 0 0;

            @include breakpoint(751px) {
                font-size: 29px;
                line-height: 41px;
                letter-spacing: .056em;
                margin: 55px 14px 89px;
            }

            @include breakpoint(576px) {
                font-size: 20px;
                line-height: 41px;
                margin: 22px 14px 50px;
            }
        }
    }

    @include breakpoint(751px) {
        max-width: 680px;
        margin: 1px 10px;
    }
}

.cards>div:nth-child(2) {
    @include breakpoint(751px) {
        margin: 58px 10px;
    }
}

.card__img {
    max-width: 100%;

    @include breakpoint(751px) {
        display: none;
    }
}

.card__img_mob {
    display: none;
    max-width: 100%;

    @include breakpoint(751px) {
        display: inline-block;
    }
}

.last-post {
    margin: 168px 0 0;

    &+h3 {
        margin: 19px 0 0 3px;

        @include breakpoint(751px) {
            margin: 33px 0 0 19px;
            max-width: 715px;
        }

        @include breakpoint(576px) {
            margin: 33px 0 0;
        }
    }

    @include breakpoint(751px) {
        margin: 312px 4px 0 0px;
    }

    @include breakpoint(576px) {
        margin: 100px 0 0 0;
    }
}

.content-post {
    margin: 50px auto 0;
    max-width: 767px;
    height: 390px;
    display: grid;
    grid-template-columns: repeat(2, 385px);
    background-color: #f9f9f9;

    & .text-post {
        padding: 45px 38px 0;
        text-align: left;

        &>h4 {
            font-family: 'OpenSans Regular 400';
            letter-spacing: .06em;
            color: #505d68;
            margin: 0;

            @include breakpoint(751px) {
                font-family: 'OpenSans Light 300';
                font-size: 28px;
                font-weight: 300;
                letter-spacing: unset;
            }

            @include breakpoint(576px) {
                font-size: 20px;
            }
        }

        &>h5 {
            font-family: 'OpenSans Light 300';
            font-size: 30px;
            line-height: 30px;
            letter-spacing: .045em;
            color: #505d68;
            margin: 20px 0 0;

            @include breakpoint(751px) {
                font-size: 60px;
                line-height: 60px;
                font-family: 'OpenSans Regular 400';
                font-weight: 400;
                letter-spacing: unset;
                margin: 36px 0 0;
            }

            @include breakpoint(576px) {
                font-size: 45px;
                line-height: 50px;
                margin: 25px 0 0;
            }
        }

        &>div {
            font-family: 'OpenSans Light 300';
            font-size: 15px;
            line-height: 24px;
            letter-spacing: .083em;
            color: #505d68;
            margin: 30px 0 0;

            @include breakpoint(751px) {
                font-size: 29px;
                line-height: 47px;
                letter-spacing: .01em;
                margin: 61px 0px 0;
            }

            @include breakpoint(576px) {
                font-size: 23px;
                margin: 30px 0px 0;
            }

            @include breakpoint(480px) {
                font-size: 20px;
                line-height: 40px;
            }
        }

        &>button {
            width: 127px;
            height: 48px;
            margin: 55px 0 0;
            letter-spacing: unset;

            @include breakpoint(765px) {
                margin: 30px 0 0;
            }

            @include breakpoint(751px) {
                width: 242px;
                height: 92px;
                font-size: 29px;
                margin: 139px 2px 84px;
            }

            @include breakpoint(576px) {
                width: 135px;
                height: 50px;
                font-size: 20px;
                margin: 30px 2px 40px;
            }
        }

        @include breakpoint(751px) {
            padding: 87px 77px 0;
        }

        @include breakpoint(576px) {
            padding: 50px 45px 0;
        }

    }

    &+button {
        margin: 84px auto 0;

        @include breakpoint(751px) {
            width: 454px;
            height: 110px;
            font-size: 30px;
            margin: 77px auto 0;
            letter-spacing: unset;
            line-height: 47px;
        }

        @include breakpoint(576px) {
            font-size: 20px;
            width: 295px;
            height: 75px;
            margin: 50px auto 0;
        }

        @include breakpoint(480px) {
            font-size: 16px;
            width: 230px;
            height: 50px;
        }
    }

    @include breakpoint(790px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(751px) {
        max-width: 680px;
        height: auto;
        grid-template-columns: unset;
        margin: 92px auto 0;
    }

    @include breakpoint(576px) {
        margin: 40px auto 0;
    }
}

.write-img {
    @include breakpoint(751px) {
        display: none;
    }
}

.write-img_mob {
    display: none;

    @include breakpoint(751px) {
        display: inline-block;
        max-width: 100%;
    }
}

.section-index {
    & .contact {
        margin: 163px 0 0;

        &+h3 {
            margin: 19px 0 0;

            &+div {
                max-width: 768px;
                margin: 52px auto -5px;

                & iframe {

                    @include breakpoint(800px) {
                        width: 680px;
                        height: 300px;
                    }

                    @include breakpoint(700px) {
                        width: 550px;
                    }

                    @include breakpoint(576px) {
                        width: 440px;
                        height: 225px;
                    }

                    @include breakpoint(480px) {
                        width: 300px;
                        height: 180px;
                    }
                }

                @include breakpoint(751px) {
                    max-width: 680px;
                    margin: 91px auto -10px;
                }

                @include breakpoint(700px) {
                    margin: 91px auto -5px;
                }

                @include breakpoint(576px) {
                    margin: 40px auto -5px;
                }
            }

            @include breakpoint(751px) {
                margin: 34px 0 0;

            }

        }

        @include breakpoint(751px) {
            margin: 311px 0 0;
        }

        @include breakpoint(576px) {
            margin: 100px 0 0 0;
        }
    }
}

.inner-contact {
    max-width: 768px;
    background-color: #f9f9f9;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: space-around;
    text-align: center;

    &>div {
        @include breakpoint(751px) {
            max-width: 340px;
        }

        @include breakpoint(480px) {
            margin: 50px auto 0;
        }
    }

    & h4 {
        font-family: 'OpenSans Semibold 600';
        font-weight: 600;
        font-size: 12px;
        line-height: 60px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #505d68;
        margin: 0;

        &~div {
            font-family: 'OpenSans Light 300';
            margin: 15px 0 0;
            font-size: 19px;
            line-height: 34px;
            color: #505d68;

            @include breakpoint(751px) {
                opacity: 0.7;
                font-family: 'OpenSans Regular 400';
                font-size: 30px;
                letter-spacing: unset;
                line-height: 48px;
                color: #323d43;
                margin: 58px 25px 0;
            }

            @include breakpoint(680px) {
                font-size: 25px;
                margin: 25px 10px;
            }
        }

        @include breakpoint(751px) {
            font-size: 28px;
            line-height: 28px;
            text-transform: uppercase;
            color: #323d43;
            letter-spacing: unset;
        }

        @include breakpoint(576px) {
            font-size: 22px;
            line-height: 22px;
        }
    }

    & a {
        text-decoration: none;
        color: inherit;
    }

    @include breakpoint(751px) {
        max-width: 680px;
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(480px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.location,
.phone {
    margin-top: 29px;
    letter-spacing: 0.03em;

    @include breakpoint(751px) {
        margin-top: 90px;
        letter-spacing: unset;
    }

    @include breakpoint(576px) {
        margin-top: 50px;
    }
}

.phone,
.fax {
    & div {
        padding: 0px 13px 0 13px;
        letter-spacing: .01em;

        @include breakpoint(576px) {
            padding: 0;
        }
    }

    & p {
        margin: 0;
    }
}

.fax,
.email {
    margin: 63px 0 39px;

    @include breakpoint(751px) {
        margin: 104px 2px 55px 0;
    }

    @include breakpoint(576px) {
        margin: 50px 0px 30px;
    }
}

.email {
    & h4 {
        letter-spacing: unset;
    }

    & div {
        letter-spacing: .03em;
    }
}

.email__content {
    display: block;

    @include breakpoint(751px) {
        display: none;
    }
}

.email__content_mob {
    display: none;

    @include breakpoint(751px) {
        display: block;
    }
}

footer {
    background-color: #eeeeee;
    margin: 80px 0 0;
    padding: 36px 0 41px;

    @include breakpoint(751px) {
        margin: 160px 0 0;
        padding: 58px 0 89px;
    }

    @include breakpoint(576px) {
        padding: 15px 0;
    }
}

.foot-wrap {
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 380px 260px;

    & div {
        font-family: 'OpenSans Light 300';
        font-size: 16px;
        line-height: 16px;
        color: #505d68;

        @include breakpoint(751px) {
            opacity: 0.7;
            font-size: 29px;
            line-height: 42px;
            letter-spacing: 0.15px;
            font-family: 'OpenSans Regular 400';
            color: #323d43;
        }

        @include breakpoint(576px) {
            font-size: 20px;
            line-height: 20px;
            letter-spacing: unset;
        }

        @include breakpoint(480px) {
            font-size: 15px;
            line-height: 15px;
        }
    }

    & div:first-child {
        margin: 0 0 0 12px;

        @include breakpoint(751px) {
            margin: 0 0 0 14px;
        }
    }

    & div:last-child {
        margin: 0 0px 0 6px;

        @include breakpoint(751px) {
            margin: 27px 0px 0 13px;
        }

        @include breakpoint(576px) {
            margin: 15px 0px 0 13px;
        }
    }

    & a {
        text-decoration: none;
        color: inherit;
    }

    @include breakpoint(751px) {
        grid-template-columns: 1fr;
    }
}