.work-hd {
    background: url(../img/work/head-bg.jpg) no-repeat center;
    height: 400px;
    background-size: 100%;

    @include breakpoint(1280px) {
        background-size: auto;
    }

    @include breakpoint(751px) {
        background: url(../img/work/head-bg_mob.jpg) no-repeat center;
        height: 1338px;
    }
}

.section-work {
    text-align: center;

    & h2 {
        margin: 126px 0 0 0;
        font-family: 'OpenSans Semibold 600';
        font-size: 13px;
        line-height: 13px;
        letter-spacing: .7px;
        color: #d4af37;
        text-transform: uppercase;

        @include breakpoint(751px) {
            margin: 236px 12px 0 0;
            font-family: 'OpenSans Regular 400';
            font-size: 28px;
            line-height: 28px;
            letter-spacing: unset;
        }

        @include breakpoint(576px) {
            margin: 100px 0 0;
            font-size: 22px;
            line-height: 22px;
        }
    }

    & h3 {
        margin: 15px 0 0 5px;
        font-family: 'OpenSans Semibold 600';
        font-size: 44px;
        line-height: 44px;
        letter-spacing: 2px;
        color: #021725;

        @include breakpoint(751px) {
            margin: 27px 0 0 1px;
            font-size: 90px;
            line-height: 90px;
            opacity: 0.7;
            letter-spacing: unset;
        }

        @include breakpoint(576px) {
            margin: 25px 0 0;
            font-size: 50px;
            line-height: 50px;
        }
    }
}

.text-work {
    margin: 44px auto 0;
    max-width: 800px;
    font-family: "OpenSans Light 300";
    font-size: 18px;
    line-height: 32px;
    letter-spacing: .6px;
    color: #021725;

    @include breakpoint(751px) {
        margin: 59px auto 0;
        padding: 0 10px;
        max-width: 681px;
        font-size: 29px;
        line-height: 47px;
        letter-spacing: .15px;
    }

    @include breakpoint(576px) {
        margin: 40px auto 0;
        font-size: 20px;
        line-height: 33px;
        letter-spacing: unset;
    }
}

.section-work {
    & .boxes {
        gap: 4px;
        margin: 128px auto -75px;

        @include breakpoint(751px) {
            display: none;
        }
    }

    & .boxes-mob {
        gap: 4px;

        @include breakpoint(751px) {
            display: flex;
            flex-direction: column;
            margin: 221px auto -155px;
        }

        @include breakpoint(576px) {
            gap: unset;
            margin: 50px auto -155px;
        }

        & li {
            max-width: 750px;
            max-height: 565px;
        }
    }
}