body {
    padding: 0;
    margin: 0;
}

/* --------------HEADER----------------- */

header {
    height: 700px;
    background: url(img/index/head_bg.jpg) no-repeat center;
    background-size: 100%;
}

.box {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    padding-top: 17px;
    margin: 0px auto;
}

.logo {
    margin-left: 48px;
}

.logo img {
    width: 190px;
    height: 42px;
}

header h1 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    line-height: 60px;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 300;
    position: absolute;
    top: 260px;
    left: 0;
    right: 0;
    margin: 0;
}

header h1>span:first-child {
    font-style: italic;
}

header h1>span:last-child {
    line-height: 140px;
}

menu {
    margin-right: 48px;
    position: relative;
}


#bar,
label .fa-times {
    display: none;
}

label .fa-bars,
label .fa-times {
    color: #ffffff;
    line-height: 23px;
}

#bar:checked+label .fa-bars {
    display: none;
}

#bar:checked+label .fa-times {
    display: inline-block;
    background-color: yellow;
    color: black;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.menu-items {
    position: absolute;
    top: 30px;
    overflow: hidden;
}

.menu-items {
    opacity: 0;
    width: 50px;
    transition: all ease 1.5s;
}

#bar:checked+label .menu-items {
    opacity: 1;
    width: 170px;
    transition: all ease 1.5s;
}

label {
    position: relative;
    cursor: pointer;
    display: flex;
}

.menu-title {
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #ffffff;
    padding: 0px 4px;
    width: 50px;
    height: 30px;
    transition: all ease 1.5s;
}

#bar:checked+label .menu-title {
    background-color: rgb(94, 90, 90);
    line-height: 30px;
    width: 170px;
    height: 30px;
    box-sizing: border-box;
    transition: width ease 1.5s;
}



.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-items__item a {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(112, 109, 109, 0.9);
    display: inline-block;
    width: 170px;
    border: solid 1px gray;
    padding: 5px 0px 5px 10px;
    font-family: "Open Sans";
    font-size: 12px;
    box-sizing: border-box;
    transition: width ease 1.5s;
}

.menu-items__item a:hover {
    background-color: gray;
}



.lines {
    max-width: 540px;
    margin: 0 auto;
}

.scroll-down {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 785px;
}


@media all and (max-width: 1280px) {
    header {
        background-size: auto;
    }
}

@media all and (max-width: 750px) {
    header {
        background: url(img/index/head_bg_mob.jpg);
        height: 1337px;
    }

    .box {
        background-color: #242f35;
        opacity: 0.7;
        height: 113px;
        padding-top: 0;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        width: 366px;
        height: 81px;
    }

    header h1 {
        font-size: 95px;
        letter-spacing: 2.85px;
        top: 496px;
    }

    .lines {
        width: 0;
        overflow: hidden;
    }

    menu {
        margin: 0;
    }

    label {
        width: 87px;
        height: 113px;
        background-color: #1a2125;
        opacity: 0.9;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .menu-title {
        display: none;
    }

    .fa-bars,
    .fa-times {
        font-size: 35px;
    }

    #bar:checked+label {
        background-color: yellow;
    }

    .menu-items__item a {
        text-align: center;
        font-size: 22px;
        width: auto;
        display: block;
    }


    label .menu-items {
        height: 0px;
        opacity: 1;
        top: 113px;
        right: 0;
        width: 100vw;
        transition: all ease 1.5s;
    }

    #bar:checked+label .menu-items {
        height: 270px;
        width: 100vw;
        transition: height ease 1.5s;
    }

    header h1>span:last-child {
        line-height: 220px;
    }

    .scroll-down {
        display: block;
    }
}

@media all and (max-width: 640px) {
    .logo img {
        width: 260px;
    }

    header h1 {
        font-size: 60px;
    }

    header h1>span:last-child {
        line-height: 95px;
    }
}

@media all and (max-width: 455px) {
    .box {
        height: 88px;
    }

    label {
        width: 70px;
        height: 88px;
    }

    .logo img {
        width: 130px;
    }

    .fa-bars,
    .fa-times {
        font-size: 23px;
    }

    label .menu-items {
        top: 88px;
    }

    header h1 {
        font-size: 43px;
    }

    header h1>span:last-child {
        line-height: 73px;
    }
}

/* ---------------ABOUT YOURSELF----------------- */

.section {
    text-align: center;
}

.who_we {
    margin: 81px 0px 0px;
}

.section h2 {
    color: #d4af37;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.65px;
}

.section h3 {
    opacity: 0.7;
    color: #021725;
    font-family: "Open Sans";
    font-size: 44px;
    font-weight: 600;
    line-height: 60px;
    margin: 21px 0px 53px;
    letter-spacing: 2.2px;
    text-transform: capitalize;
}

.section .text {
    max-width: 760px;
    color: #021725;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.9px;
    margin: 0px auto;
}

.section button {
    width: 238px;
    border: 1px solid #000000;
    background: none;
    margin-top: 46px;
    color: #021725;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.7px;
    text-transform: capitalize;
}

@media all and (max-width: 750px) {
    .section h2 {
        font-size: 28px;
        font-weight: 400;
    }

    .who_we {
        margin: 153px 0px 0px;
    }

    .section h3 {
        font-size: 90px;
        margin: 38px auto 83px;
        line-height: 92px;
    }

    .section .text {
        max-width: 674px;
        font-size: 27px;
        line-height: 52px;
    }

    .section button {
        width: 452px;
        margin-top: 68px;
        font-size: 27px;
        line-height: 60px;
        letter-spacing: 0.71px;
        cursor: pointer;
    }
}

@media all and (max-width: 640px) {
    .who_we {
        margin: 100px 0px 0px;
    }

    .section h2 {
        font-size: 25px;
    }

    .section h3 {
        font-size: 60px;
        margin: 20px auto 50px;
        line-height: 80px;
    }

    .section .text {
        font-size: 21px;
        line-height: 40px;
    }

    .section button {
        width: 365px;
        margin-top: 49px;
        font-size: 21px;
    }
}

@media all and (max-width: 455px) {
    .section h2 {
        font-size: 18px;
    }

    .section h3 {
        font-size: 37px;
        margin: 10px auto 30px;
        line-height: 45px;
    }

    .section .text {
        font-size: 15px;
        line-height: 30px;
    }

    .section button {
        width: 271px;
        margin-top: 45px;
        font-size: 15px;
        line-height: 50px;
    }
}

/* --------------Show work --------------*/

.what_we {
    margin: 163px 0px 0px;
}

.section__title-work_position {
    margin: 22px 81px;
}

.section ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.section li {
    margin: 2px;
    width: 317px;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.section li:nth-child(1) {
    background-image: url(img/index/example1_img.jpg);
}

.section li:nth-child(2) {
    background-image: url(img/index/example2_img.jpg);
}

.section li:nth-child(3) {
    background-image: url(img/index/example3_img.jpg);
}

.section li:nth-child(4) {
    background-image: url(img/index/example4_img.jpg);
}

.section li:nth-child(5) {
    background-image: url(img/index/example5_img.jpg);
}

.section li:nth-child(6) {
    background-image: url(img/index/example6_img.jpg);
}

.section li:nth-child(7) {
    background-image: url(img/index/example7_img.jpg);
}

.section li:nth-child(8) {
    background-image: url(img/index/example8_img.jpg);
}

.section li>img {
    display: none;
}

@media all and (max-width: 750px) {
    .what_we {
        margin: 303px 0px 0px;
    }

    .section ul>li:nth-child(odd) {
        width: auto;
        height: auto;
        background-image: none;
    }

    .section ul>li:nth-child(even) {
        width: auto;
        height: auto;
        background-image: none;
    }

    .section li>img {
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
}

/* *******WHO WE ARE**************** */

.we_are {
    margin: 162px 0px 0px;
}

.cards {
    display: flex;
    justify-content: space-between;
    max-width: 746px;
    margin: 50px auto 0;
}

.card {
    max-width: 246px;
    background-color: #f9f9f9;
    text-align: left;
}

.card img {
    max-width: 100%;
}

.mob-card {
    display: none;
}

.card-inner {
    padding: 0px 21px 48px 16px;
}

.card h4 {
    color: #d4af37;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin: 20px 0 0;
}

.card h5 {
    opacity: 0.7;
    color: #021725;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 1.05px;
    margin: 20px 0 36px;
}

.card p {
    color: #021725;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.65px;
}

@media all and (max-width: 759px) {
    .we_are {
        margin: 306px 0px 0px;
    }

    .cards {
        display: block;
    }

    .card {
        margin: 0 auto 59px;
        max-width: 680px;
    }

    .card img:nth-child(1) {
        display: none;
    }

    .mob-card {
        display: inline-block;
    }

    .card h4 {
        margin: 37px 0px 39px;
        font-size: 29px;
    }

    .card h5 {
        font-size: 40px;
        margin-bottom: 60px;
    }

    .card p {
        font-size: 29px;
        line-height: 41px;
        margin: 0;
    }

    .card-inner {
        padding: 0px 77px 90px 31px;
    }
}

@media all and (max-width: 500px) {
    .card h4 {
        margin: 25px 0px;
        font-size: 18px;
    }

    .card h5 {
        font-size: 37px;
        margin-bottom: 30px;
        line-height: 38px;
    }

    .card p {
        font-size: 15px;
        line-height: 30px;
    }

    .card-inner {
        padding: 0px 35px 50px 15px;
    }
}

/* ----------------Last Post------------------- */
.last_post {
    margin: 165px 0px 0px;
}

.last_post+h3>span {
    text-transform: none;
}

.content-post {
    display: flex;
    justify-content: center;
}

.content-post div>img:last-child {
    display: none;
}

.text-post {
    max-width: 385px;
    max-height: 390px;
    box-sizing: border-box;
    text-align: left;
    padding: 9px 38px 60px 38px;
    background-color: #f9f9f9;
}

.text-post h4 {
    color: #505d68;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin: 0;
}

.text-post h5 {
    color: #505d68;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.9px;
    margin: 0;
}

.text-post div {
    color: #505d68;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24.7px;
    letter-spacing: 0.8px;
}

.text-post button {
    width: 127px;
    height: 48px;
    margin-top: 58px;
    color: #021725;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.7px;
}

.content-post+button {
    width: 238px;
    height: 57px;
    margin-top: 84px;
    color: #021725;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.7px;
}

@media all and (max-width: 769px) {
    .section {
        padding: 0 5%;
    }

    body>.section:nth-child(3) {
        padding: 0;
    }

    .content-post {
        flex-wrap: wrap;
    }

    .content-post div>img:last-child {
        display: inline-block;
        max-width: 100%;
    }

    .content-post div>img:first-child {
        display: none;
    }

    .text-post {
        max-width: 680px;
        max-height: none;
        box-sizing: content-box;
        padding: 83px 98px 83px 75px;
    }

    .text-post h4 {
        opacity: 0.7;
        color: #021725;
        font-size: 28px;
        font-weight: 300;
        line-height: 92px;
    }

    .text-post h5 {
        opacity: 0.7;
        color: #021725;
        font-size: 60px;
        line-height: 60px;
    }

    .text-post div {
        opacity: 0.7;
        color: #021725;
        font-size: 29px;
        line-height: 47px;
        margin-top: 65px;
    }

    .text-post button {
        margin-top: 97px;
        color: #323d43;
        font-size: 29px;
        line-height: 47px;
        width: 242px;
        height: 92px;
    }

    .content-post+button {
        color: #021725;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0.7px;


        width: 453px;
        height: 110px;
        margin-top: 77px;
        color: #323d43;
        font-size: 30px;
        line-height: 47px;
    }
}

@media all and (max-width: 640px) {
    .text-post h4 {
        line-height: 13px;
    }

    .text-post h5 {
        font-size: 40px;
        margin: 20px 0 50px;
    }

    .text-post div {
        font-size: 20px;
        line-height: 38px;
    }

    .text-post {
        max-width: 100%;
        box-sizing: border-box;
        padding: 55px 45px 60px 35px;
    }
}

@media all and (max-width: 500px) {
    .text-post h4 {
        line-height: 13px;
        font-size: 18px;
    }

    .text-post h5 {
        font-size: 30px;
        margin-bottom: 30px;
        line-height: 38px;
    }

    .text-post div {
        font-size: 15px;
        line-height: 30px;
        margin-top: 0;
    }
}

/* ------------------Contact-------------------- */

.contact {
    margin-top: 162px;
}

.inner-contact {
    max-width: 768px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 29px 0px 43px;
}

.inner-contact .row {
    display: flex;
    justify-content: space-around;
}

.inner-contact .row:first-child {
    padding-bottom: 95px;
}

.location {
    max-width: 240px;
}

.phone {
    max-width: 190px;
}

.fax {
    max-width: 195px;
}

.email {
    max-width: 231px;
}

.inner-contact h4 {
    color: #505d68;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin-top: 0;
}

.inner-contact h4+div {
    color: #505d68;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0.57px;
}

iframe {
    max-width: 100%;
}

@media all and (max-width: 750px) {
    .location {
        max-width: 250px;
    }

    .phone {
        max-width: 160px;
    }

    .fax {
        max-width: 160px;
    }

    .email {
        max-width: 231px;
    }

    .inner-contact h4 {
        color: #323d43;
        font-size: 28px;
    }

    .inner-contact h4+div {
        opacity: 0.7;
        color: #323d43;
        font-size: 30px;
        font-weight: 400;
        line-height: 48px;
    }

    .email span {
        display: none;
    }
}

@media all and (max-width: 500px) {
    .inner-contact .row {
        flex-direction: column;
        align-items: center;
    }
    .inner-contact .row:first-child {
        padding-bottom: 0;
    }
    .inner-contact h4 {
        font-size: 20px;
        margin-bottom: 0;
    }

    .inner-contact h4+div {
        font-size: 25px;
        line-height: 38px;
        margin-bottom: 30px;
    }
    .location, .phone, .fax, .email {
        max-width: 265px;
    }
}


@media all and (max-width: 640px) {

    .what_we,
    .we_are,
    .last_post {
        margin: 150px 0px 0px;
    }

    .section button {
        width: 365px;
        margin-top: 49px;
        font-size: 21px;
        height: inherit;
    }
}

@media (max-width: 455px) {
    .section button {
        width: 225px;
        margin-top: 45px;
        font-size: 15px;
        line-height: 50px;
    }
}