@font-face {
  font-family: "OpenSans Light 300";
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSans LightItalic 300";
  src: url("../fonts/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: "OpenSans Regular 400";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans Medium 500";
  src: url("../fonts/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "OpenSans Semibold 600";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "OpenSans Bold 700";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans ExtraBold 800";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Cardo Regular 400";
  src: url("../fonts/cardo/Cardo-Regular.ttf");
}

@font-face {
  font-family: "Cardo Bold 700";
  src: url("../fonts/cardo/Cardo-Bold.ttf");
}

header {
  background: url(../img/index/head-bg.jpg) no-repeat center;
  height: 700px;
  background-size: 100%;
}

header > h1 {
  font-family: "OpenSans Light 300";
  font-size: 80px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 241px 0 0 5px;
  text-align: center;
}

header > h1 > span {
  font-family: "OpenSans LightItalic 300";
}

header .below {
  display: none;
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 35px;
  cursor: pointer;
  margin: 79px auto 0;
  text-align: center;
}

header .below span {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: translateY(20px) rotate(50grad);
}

.logo {
  margin-top: 16px;
}

.box {
  display: flex;
  justify-content: space-between;
  padding: 0 42px 0 48px;
}

menu {
  display: flex;
  justify-content: end;
  padding: 0;
  cursor: pointer;
  margin: 22px 0 0 0;
}

.menu-title {
  width: 51px;
  background-color: unset;
  transition: all 1s ease;
}

.menu-title {
  height: 28px;
  font-family: "OpenSans Semibold 600";
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
  padding-left: 4px;
  position: relative;
}

.hamburger {
  width: 26px;
  height: 28px;
  box-sizing: border-box;
  padding: 8px 2px;
}

.hamburger-line {
  width: 18px;
  height: 2px;
  position: relative;
  top: 5px;
  background: white;
  transition: 0.5s;
}

.hamburger-line:before,
.hamburger-line:after {
  content: "";
  width: 18px;
  height: 2px;
  position: absolute;
  transition: 0.5s;
}

.hamburger-line:before {
  background: white;
  top: -5px;
}

.hamburger-line:after {
  background: white;
  top: 5px;
}

.menu-items {
  width: 55px;
  opacity: 0;
  transition: all 1s ease;
}

.menu-items {
  position: absolute;
  top: 49px;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0 26px 0;
}

.menu-items li {
  background-color: rgba(112, 109, 109, 0.9);
  border: solid 1px gray;
  padding: 2px 0 2px 10px;
}

.menu-items li:hover {
  background-color: gray;
}

.menu-items a {
  display: block;
  font-family: "OpenSans Regular 400";
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.active .menu-title {
  width: 166px;
  background-color: rgb(94, 90, 90);
  transition: all 1s ease;
}

.active .menu-items {
  width: 170px;
  opacity: 0.9;
  transition: all 1s ease;
}

.active .hamburger {
  background-color: yellow;
}

.active .hamburger-line {
  background: rgba(0, 0, 0, 0);
}

.active .hamburger-line:after,
.active .hamburger-line:before {
  top: 0;
  background-color: black;
}

.active .hamburger-line:before {
  transform: rotate(45deg);
}

.active .hamburger-line:after {
  transform: rotate(-45deg);
}

.section-index {
  display: grid;
}

.section-index > * {
  text-align: center;
}

.section-index > h2,
.section-index h4 {
  font-family: "OpenSans Bold 700";
  font-size: 13px;
  line-height: 7px;
  text-transform: uppercase;
  letter-spacing: 0.045em;
  color: #d4af37;
}

.section-index > h3 {
  opacity: 0.7;
  font-family: "OpenSans Semibold 600";
  font-size: 44px;
  line-height: 41px;
  letter-spacing: 0.05em;
  color: #021725;
}

.section-index button {
  font-family: "OpenSans Light 300";
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #021725;
  border: 1px solid #000000;
  width: 238px;
  height: 57px;
  background-color: inherit;
}

.section-index .who-we {
  margin: 81px 0 0;
}

.section-index .who-we + h3 {
  margin: 19px 0 0;
}

.text {
  font-family: "OpenSans Light 300";
  max-width: 780px;
  margin: 46px auto 0;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.036em;
  color: #021725;
}

.text + button {
  margin: 41px auto 0;
}

.section-index .what-we {
  margin: 164px 0 0;
}

.section-index .what-we + h3 {
  margin: 19px 0 0;
}

.boxes {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2px;
  row-gap: 3px;
  max-width: 1280px;
  margin: 90px auto 0;
  padding: 0;
}

.boxes > li {
  width: 317px;
  height: 300px;
}

.boxes-mob {
  display: none;
  list-style-type: none;
  margin: 90px auto 0;
  padding: 0;
}

.boxes-mob img {
  max-width: 100%;
}

.section-index .we-are {
  margin: 162px 0 0;
}

.section-index .we-are + h3 {
  margin: 19px 0 0;
}

.section-index .we-are + h3 + .text {
  margin: 48px auto 0;
  letter-spacing: 0.036em;
}

.cards {
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 246px);
  column-gap: 5px;
  text-align: left;
}

.card {
  background-color: #f9f9f9;
}

.card .card-inner {
  margin: 0 21px 40px 16px;
}

.card .card-inner h4 {
  margin: 15px 0 0;
  font-size: 14px;
  letter-spacing: unset;
}

.card .card-inner h5 {
  opacity: 0.7;
  font-family: "OpenSans Regular 400";
  font-weight: 400;
  font-size: 21px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #021725;
  margin: 20px 0 0;
}

.card .card-inner p {
  font-family: "OpenSans Light 300";
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #021725;
  margin: 29px 0 0;
}

.card__img {
  max-width: 100%;
}

.card__img_mob {
  display: none;
  max-width: 100%;
}

.last-post {
  margin: 168px 0 0;
}

.last-post + h3 {
  margin: 19px 0 0 3px;
}

.content-post {
  margin: 50px auto 0;
  max-width: 767px;
  height: 390px;
  display: grid;
  grid-template-columns: repeat(2, 385px);
  background-color: #f9f9f9;
}

.content-post .text-post {
  padding: 45px 38px 0;
  text-align: left;
}

.content-post .text-post > h4 {
  font-family: "OpenSans Regular 400";
  letter-spacing: 0.06em;
  color: #505d68;
  margin: 0;
}

.content-post .text-post > h5 {
  font-family: "OpenSans Light 300";
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.045em;
  color: #505d68;
  margin: 20px 0 0;
}

.content-post .text-post > div {
  font-family: "OpenSans Light 300";
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.083em;
  color: #505d68;
  margin: 30px 0 0;
}

.content-post .text-post > button {
  width: 127px;
  height: 48px;
  margin: 55px 0 0;
  letter-spacing: unset;
}

.content-post + button {
  margin: 84px auto 0;
}

.write-img_mob {
  display: none;
}

.section-index .contact {
  margin: 163px 0 0;
}

.section-index .contact + h3 {
  margin: 19px 0 0;
}

.section-index .contact + h3 + div {
  max-width: 768px;
  margin: 52px auto -5px;
}

.inner-contact {
  max-width: 768px;
  background-color: #f9f9f9;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  justify-content: space-around;
  text-align: center;
}

.inner-contact h4 {
  font-family: "OpenSans Semibold 600";
  font-weight: 600;
  font-size: 12px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #505d68;
  margin: 0;
}

.inner-contact h4 ~ div {
  font-family: "OpenSans Light 300";
  margin: 15px 0 0;
  font-size: 19px;
  line-height: 34px;
  color: #505d68;
}

.inner-contact a {
  text-decoration: none;
  color: inherit;
}

.location,
.phone {
  margin-top: 29px;
  letter-spacing: 0.03em;
}

.phone div,
.fax div {
  padding: 0px 13px 0 13px;
  letter-spacing: 0.01em;
}

.phone p,
.fax p {
  margin: 0;
}

.fax,
.email {
  margin: 63px 0 39px;
}

.email h4 {
  letter-spacing: unset;
}

.email div {
  letter-spacing: 0.03em;
}

.email__content {
  display: block;
}

.email__content_mob {
  display: none;
}

footer {
  background-color: #eeeeee;
  margin: 80px 0 0;
  padding: 36px 0 41px;
}

.foot-wrap {
  max-width: 768px;
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 380px 260px;
}

.foot-wrap div {
  font-family: "OpenSans Light 300";
  font-size: 16px;
  line-height: 16px;
  color: #505d68;
}

.foot-wrap div:first-child {
  margin: 0 0 0 12px;
}

.foot-wrap div:last-child {
  margin: 0 0px 0 6px;
}

.foot-wrap a {
  text-decoration: none;
  color: inherit;
}

.about-hd {
  background: url(../img/about/head-bg.jpg) no-repeat center;
  background-size: 100%;
}

.below-about {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 18px;
  cursor: pointer;
  margin: 549px auto 0;
  text-align: center;
}

.below-about span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: translateY(3.5px) rotate(50grad);
}

.text-about {
  max-width: 780px;
  margin: 157px auto 0;
  font-family: "OpenSans Light 300";
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.63px;
  text-align: center;
}

.services {
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(2, 1fr);
  margin: 152px auto -80px;
}

.services__img {
  margin-bottom: -4.8px;
}

.services__img img {
  max-width: 100%;
}

.services__img img:last-child {
  display: none;
}

.services__box {
  background-color: #f9f9f9;
  color: #505d68;
}

.services__box h2 {
  font-family: "OpenSans Semibold 600";
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 1.5px;
  margin: 6% 0 0 6%;
}

.services__text {
  font-family: "OpenSans Light 300";
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.3px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 12.8%;
}

.services__text div {
  margin: 0 0 0 18%;
  max-width: 220px;
  letter-spacing: 0.6px;
}

.services__text ul {
  list-style-type: none;
  padding: 0;
  margin: 10% 0 0 15.7%;
  letter-spacing: 0.65px;
}

.services__text ul span {
  position: relative;
  left: -7px;
}

.work-hd {
  background: url(../img/work/head-bg.jpg) no-repeat center;
  height: 400px;
  background-size: 100%;
}

.section-work {
  text-align: center;
}

.section-work h2 {
  margin: 126px 0 0 0;
  font-family: "OpenSans Semibold 600";
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.7px;
  color: #d4af37;
  text-transform: uppercase;
}

.section-work h3 {
  margin: 15px 0 0 5px;
  font-family: "OpenSans Semibold 600";
  font-size: 44px;
  line-height: 44px;
  letter-spacing: 2px;
  color: #021725;
}

.text-work {
  margin: 44px auto 0;
  max-width: 800px;
  font-family: "OpenSans Light 300";
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.6px;
  color: #021725;
}

.section-work .boxes {
  gap: 4px;
  margin: 128px auto -75px;
}

.section-work .boxes-mob {
  gap: 4px;
}

.section-work .boxes-mob li {
  max-width: 750px;
  max-height: 565px;
}

.project-hd {
  background: url(../img/project/head-bg.jpg) no-repeat center;
  height: 700px;
  background-size: 100%;
}

.below-project {
  width: 29px;
  height: 29px;
  border: 2px solid white;
  border-radius: 18px;
  cursor: pointer;
  margin: 562px auto 0;
  text-align: center;
}

.below-project span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: translateY(3.5px) rotate(50grad);
}

.section-project__inner {
  max-width: 1150px;
  margin: 83px auto 0;
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: 61% 26%;
  justify-content: space-around;
}

.section-project__inner img {
  max-width: 100%;
}

.section-project__box {
  color: black;
}

.section-project__box h1 {
  font-family: "OpenSans Bold 700";
  font-size: 45px;
  line-height: 45px;
  margin: 80px 0 0 29px;
}

.text-project {
  margin: 117px 0 0 27px;
  max-width: 671px;
  font-family: "Cardo Regular 400";
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
}

.text-project p {
  margin: 0;
}

.text-project span {
  font-family: "Cardo Bold 700";
}

.box-img {
  margin: 98px 0 57px 26px;
}

.box-img div {
  margin: 0 0 15px 0;
}

.section-project__boxes {
  margin: 64px 0 0 -28px;
}

.section-project__boxes div {
  margin: 0 0 -3px 0;
}

.box-img_mob,
.section-project__boxes_mob {
  display: none;
}

.box-img_mob {
  margin: 212px auto 0;
}

.box-img_mob div {
  margin: 0 0 30px 0;
}

.section-project__boxes_mob {
  margin: 1px auto 32px;
}

.section-project__boxes_mob div:nth-child(5),
.section-project__boxes_mob div:nth-child(6) {
  margin-top: 1px;
}

.social {
  max-width: 1018px;
  padding: 0 10px;
  margin: 104px auto -6.5px;
  display: grid;
  grid-template-columns: repeat(3, 249px);
  justify-content: space-between;
}

.social a {
  width: 249px;
  height: 57.5px;
  font-family: "OpenSans Light 300";
  font-size: 15px;
  line-height: 15px;
  color: #c0c0c0;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border: solid 1px #a1a1a1;
  box-sizing: border-box;
}

.social a:hover {
  background-color: #bab7b7;
  color: #f9f9f9;
  transition: all ease 0.5s;
}

.social a:nth-child(1) {
  padding: 20px 84px;
}

.social a:nth-child(2) {
  padding: 20px 93px;
}

.social a:nth-child(3) {
  padding: 20px 88px;
}

a {
  text-decoration: none;
}

.blog-hd {
  background: url(../img/blog/head-bg.jpg) no-repeat center;
  height: 400px;
  background-size: 100%;
}

.section-blog__wrap {
  max-width: 1150px;
  margin: 77px auto 0;
  box-sizing: border-box;
  padding: 0px 4.9%;
  background-color: #f9f9f9;
  overflow: hidden;
}

.section-blog__inner {
  display: grid;
  grid-template-columns: 65% 29.3%;
  justify-content: space-between;
}

.box-posts,
.side-area {
  margin: 64px 0 0 0;
}

.box-post {
  max-width: 666px;
  overflow: hidden;
  background-color: #fff;
  padding: 0 4.95%;
}

.box-post h1 {
  margin: 26.5px 0 0 0px;
  letter-spacing: -0.2px;
  font-family: "OpenSans Light 300";
  font-size: 30px;
  line-height: 30px;
  color: black;
}

.box-post h4 {
  margin: 26px 0 0 0px;
  font-family: "OpenSans Light 300";
  font-size: 15px;
  line-height: 15px;
  color: #d3b000;
}

.box-post__img {
  max-width: 600px;
  margin: 30px 0 0;
}

.box-post__img img {
  max-width: 100%;
}

.box-post__img img:last-child {
  display: none;
}

.box-post__text {
  margin: 31.5px 0 0 0px;
  max-width: 585px;
  font-family: "Cardo Regular 400";
  font-size: 16px;
  line-height: 25px;
  color: #021725;
}

.box-post__button {
  margin: 64px 0 31px 0px;
  width: 191px;
  height: 48px;
}

.box-post__button a {
  width: 191px;
  height: 48px;
  padding: 16px 55px;
  display: inline-block;
  font-family: "OpenSans Light 300";
  font-size: 16px;
  line-height: 16px;
  box-sizing: border-box;
  border: solid 1px black;
  color: #021725;
}

.box-post__button a:hover {
  color: white;
  background-color: #b5b5b5;
  transition: all ease 0.5s;
}

.box-post:last-child {
  margin-top: 57px;
}

.rescent-posts {
  margin: 0.9px 0 0 0;
}

.categories,
.projects {
  margin: 57px 0 0 0;
}

.rescent-posts h2,
.categories h2 {
  margin: 0;
  font-family: "OpenSans Light 300";
  font-size: 23px;
  line-height: 23px;
  color: #021725;
  letter-spacing: -0.16px;
}

.rescent-posts hr,
.categories hr {
  border: solid 3px #d3b000;
  margin: 15px 0px 38px 0;
}

.rescent-posts div,
.categories div {
  margin: 15.5px 0 -9px 0;
}

.rescent-posts a,
.categories a {
  font-family: "OpenSans LightItalic 300";
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.07px;
  color: #021725;
}

.projects h2 {
  margin: 0;
  font-family: "OpenSans Light 300";
  font-size: 23px;
  line-height: 23px;
  color: #021725;
  letter-spacing: -0.16px;
}

.projects hr {
  border: solid 3px #d3b000;
  margin: 15px 0px 38px 0;
}

.projects .section-project__boxes {
  margin: -10px 0 0 0;
}

.projects img {
  max-width: 100%;
}

.section-blog__boxes_mob {
  display: none;
}

.section-blog__boxes_mob > div:nth-child(2),
.section-blog__boxes_mob > div:nth-child(4) {
  margin: -1px 0 0 0;
}

.section-blog__boxes_mob > div:nth-child(3) {
  margin: -3px 0 0 0;
}

.section-blog__button {
  width: 240px;
  height: 59px;
  margin: 61px auto 65px;
}

.section-blog__button a {
  display: inline-block;
  padding: 21px 59px 21px 57px;
  font-family: "OpenSans Light 300";
  font-size: 16px;
  line-height: 16px;
  color: #021725;
  border: solid 1px black;
}

.section-blog__button a:hover {
  color: white;
  background-color: #b5b5b5;
  transition: all ease 0.5s;
}

.contact-hd {
  background: url(../img/contact/head-bg.jpg) no-repeat center;
  background-size: 100%;
  height: 400px;
}

.section-contact h4 {
  margin: 121px 0 0 0;
  text-align: center;
  font-family: "OpenSans Semibold 600";
  font-size: 18px;
  line-height: 18px;
  color: #d4af37;
  text-transform: uppercase;
}

.section-contact h1 {
  margin: 14px 0 0 0;
  text-align: center;
  font-family: "OpenSans Bold 700";
  font-size: 44px;
  line-height: 44px;
  color: #021725;
  opacity: 0.7;
}

.contact-box {
  margin: 84.5px auto 0;
  max-width: 768px;
  display: grid;
  grid-template-areas: "adress img" "text tel";
}

.contact-adress,
.contact-tel {
  max-width: 300px;
  height: 300px;
  color: white;
}

.contact-adress p,
.contact-tel p {
  margin: 40px 0 0 30px;
  font-family: "OpenSans Regular 400";
  font-size: 25px;
  line-height: 32px;
}

.contact-adress {
  background-color: #d3b000;
}

.line {
  margin: 33px 0 0 31.6px;
  width: 30px;
  height: 3px;
  background-color: #fff;
}

.contact-img {
  margin: 0 0 -5px -162px;
}

.contact-img img:last-child {
  display: none;
}

.contact-text {
  width: 468px;
  height: 300px;
  background-color: #f9f9f9;
}

.contact-text p {
  margin: 37px 0 0 45px;
  max-width: 370px;
  letter-spacing: -0.05px;
  font-family: "OpenSans Light 300";
  font-size: 20px;
  line-height: 32px;
  color: #323d43;
}

.contact-tel {
  background-color: #212121;
}

.contact-tel p:last-child {
  margin: 0 0 0 30px;
}

.contact-email {
  margin: 77px auto 88px;
  width: 238px;
}

.contact-email a {
  padding: 22px 58px;
  letter-spacing: -0.35px;
  width: 238px;
  height: 57px;
  box-sizing: border-box;
  display: inline-block;
  border: solid 1px black;
  color: #021725;
  font-family: "OpenSans Light 300";
  font-size: 14px;
  line-height: 14px;
}

.contact-email a:hover {
  color: white;
  background-color: #b5b5b5;
  transition: all ease 0.5s;
}

body {
  margin: 0;
  padding: 0;
}

.txtx {
  font-size: 20px;
}

.multilevel-accordion-menu .is-accordion-submenu-parent a {
  background: #4d5158;
}

.multilevel-accordion-menu .is-accordion-submenu a {
  background: #35383d;
}

.multilevel-accordion-menu .sublevel-1 {
  text-indent: 1rem;
}

.multilevel-accordion-menu .sublevel-2 {
  text-indent: 2rem;
}

.multilevel-accordion-menu .sublevel-3 {
  text-indent: 3rem;
}

.multilevel-accordion-menu .sublevel-4 {
  text-indent: 4rem;
}

.multilevel-accordion-menu .sublevel-5 {
  text-indent: 5rem;
}

.multilevel-accordion-menu .sublevel-6 {
  text-indent: 6rem;
}

.multilevel-accordion-menu a {
  color: white;
  -webkit-box-shadow: inset 0 -1px #41444a;
  box-shadow: inset 0 -1px #41444a;
}

.multilevel-accordion-menu a::after {
  border-color: white transparent transparent;
}

.multilevel-accordion-menu .menu > li:not(.menu-text) > a {
  padding: 1.2rem 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded=true] a.subitem::before {
  content: "\f016";
  font-family: FontAwesome;
  margin-right: 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded=true] a::before {
  content: "\f07c";
  font-family: FontAwesome;
  margin-right: 1rem;
}

.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded=false] a::before {
  content: "\f07b";
  font-family: FontAwesome;
  margin-right: 1rem;
}

@media all and (max-width: 1280px) {
  header {
    background-size: auto;
  }

  .about-hd {
    background-size: auto;
  }

  .work-hd {
    background-size: auto;
  }

  .project-hd {
    background-size: auto;
  }

  .blog-hd {
    background-size: auto;
  }

  .contact-hd {
    background-size: auto;
  }
}

@media all and (max-width: 1200px) {
  header > h1 {
    font-size: 60px;
  }
}

@media all and (max-width: 1170px) {
  .services__box h2 {
    font-size: calc(35px + 10 * (100vw - 752px) / 418);
    line-height: calc(35px + 10 * (100vw - 752px) / 418);
  }

  .services__text {
    margin-top: 6.8%;
    font-size: calc(12px + 6 * (100vw - 752px) / 418);
    line-height: calc(30px + 8 * (100vw - 1170px) / 418);
  }
}

@media all and (max-width: 992px) {
  header > h1 {
    font-size: 50px;
  }
}

@media all and (max-width: 800px) {
  .section-index .contact + h3 + div iframe {
    width: 680px;
    height: 300px;
  }

  .contact-box {
    max-width: 708px;
  }

  .contact-adress,
  .contact-tel {
    max-width: 270px;
    height: 280.51px;
  }

  .contact-img {
    margin: 0 0 -5px -162px;
  }

  .contact-img img:first-child {
    max-width: 432px;
  }

  .contact-text {
    width: 438px;
    height: 280.51px;
  }
}

@media all and (max-width: 790px) {
  .content-post {
    grid-template-columns: repeat(2, 1fr);
  }

  .social {
    grid-template-columns: repeat(3, 235px);
  }

  .social a {
    width: 235px;
  }
}

@media all and (max-width: 765px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-post .text-post > button {
    margin: 30px 0 0;
  }
}

@media all and (max-width: 751px) {
  header {
    height: 1337px;
    background: url(../img/index/head-bg_mob.jpg) no-repeat center;
  }

  header > h1 {
    font-size: 95px;
    line-height: 116px;
    margin: 360px 0 0 7px;
    letter-spacing: 0.029em;
  }

  header .below {
    display: block;
  }

  .logo img {
    width: 365px;
  }

  .logo {
    margin: 14px 0 0 -1px;
  }

  .box {
    height: 113px;
    background-color: rgba(35, 45, 51, 0.7);
    padding: 0 0 0 30px;
  }

  menu {
    width: 87px;
    margin: 0;
    padding: 0;
  }

  .menu-title {
    display: none;
  }

  .hamburger {
    width: 87px;
    height: 113px;
    background: rgb(35, 45, 51);
    padding: 0;
  }

  .hamburger-line {
    width: 35px;
    height: 4px;
    top: 53px;
    left: 26px;
  }

  .hamburger-line:before,
  .hamburger-line:after {
    width: 35px;
    height: 4px;
  }

  .hamburger-line:before {
    top: -10px;
  }

  .hamburger-line:after {
    top: 10px;
  }

  .menu-items {
    width: 170px;
    top: 113px;
    left: 0;
    margin: 0;
  }

  .menu-items a {
    font-size: 30px;
  }

  .active .menu-title {
    display: none;
  }

  .active .menu-items {
    width: 100%;
  }

  .section-index h2 {
    font-family: "OpenSans Regular 400";
    font-size: 28px;
    letter-spacing: unset;
  }

  .section-index > h3 {
    font-size: 90px;
    line-height: 92px;
    letter-spacing: unset;
  }

  .section-index .who-we + h3 {
    margin: 31px 0 0 0;
  }

  .section-index .who-we {
    margin: 160px 0 0 4px;
  }

  .text + button {
    font-size: 27px;
    width: 452px;
    height: 109px;
    margin: 59px auto 0;
    letter-spacing: 0.05em;
  }

  .text {
    font-size: 28px;
    line-height: 52px;
    margin: 61px 36px 0;
    letter-spacing: 0.013em;
  }

  .section-index .what-we + h3 {
    margin: 8px 0 0 0;
  }

  .section-index .what-we {
    line-height: 60px;
    margin: 282px 0 0 0;
  }

  .boxes {
    display: none;
  }

  .boxes-mob {
    display: block;
    margin: 157px auto 0;
  }

  .section-index .we-are + h3 + .text {
    margin: 60px 38px 0;
    line-height: 47px;
    letter-spacing: 0.0115em;
  }

  .section-index .we-are + h3 {
    margin: 8px 0 0 0;
  }

  .section-index .we-are {
    line-height: 60px;
    margin: 281px 0 0 0;
  }

  .cards {
    grid-template-columns: unset;
    margin: 121px auto -4px;
  }

  .card .card-inner h4 {
    font-family: "OpenSans Semibold 600";
    font-size: 29px;
    line-height: 29px;
    margin: 28px 13px 0;
  }

  .card .card-inner h5 {
    font-size: 40px;
    line-height: 40px;
    margin: 31px 13px 0;
  }

  .card .card-inner p {
    font-size: 29px;
    line-height: 41px;
    letter-spacing: 0.056em;
    margin: 55px 14px 89px;
  }

  .card {
    max-width: 680px;
    margin: 1px 10px;
  }

  .cards > div:nth-child(2) {
    margin: 58px 10px;
  }

  .card__img {
    display: none;
  }

  .card__img_mob {
    display: inline-block;
  }

  .last-post + h3 {
    margin: 33px 0 0 19px;
    max-width: 715px;
  }

  .last-post {
    margin: 312px 4px 0 0px;
  }

  .content-post .text-post > h4 {
    font-family: "OpenSans Light 300";
    font-size: 28px;
    font-weight: 300;
    letter-spacing: unset;
  }

  .content-post .text-post > h5 {
    font-size: 60px;
    line-height: 60px;
    font-family: "OpenSans Regular 400";
    font-weight: 400;
    letter-spacing: unset;
    margin: 36px 0 0;
  }

  .content-post .text-post > div {
    font-size: 29px;
    line-height: 47px;
    letter-spacing: 0.01em;
    margin: 61px 0px 0;
  }

  .content-post .text-post > button {
    width: 242px;
    height: 92px;
    font-size: 29px;
    margin: 139px 2px 84px;
  }

  .content-post .text-post {
    padding: 87px 77px 0;
  }

  .content-post + button {
    width: 454px;
    height: 110px;
    font-size: 30px;
    margin: 77px auto 0;
    letter-spacing: unset;
    line-height: 47px;
  }

  .content-post {
    max-width: 680px;
    height: auto;
    grid-template-columns: unset;
    margin: 92px auto 0;
  }

  .write-img {
    display: none;
  }

  .write-img_mob {
    display: inline-block;
    max-width: 100%;
  }

  .section-index .contact + h3 + div {
    max-width: 680px;
    margin: 91px auto -10px;
  }

  .section-index .contact + h3 {
    margin: 34px 0 0;
  }

  .section-index .contact {
    margin: 311px 0 0;
  }

  .inner-contact > div {
    max-width: 340px;
  }

  .inner-contact h4 ~ div {
    opacity: 0.7;
    font-family: "OpenSans Regular 400";
    font-size: 30px;
    letter-spacing: unset;
    line-height: 48px;
    color: #323d43;
    margin: 58px 25px 0;
  }

  .inner-contact h4 {
    font-size: 28px;
    line-height: 28px;
    text-transform: uppercase;
    color: #323d43;
    letter-spacing: unset;
  }

  .inner-contact {
    max-width: 680px;
    grid-template-columns: repeat(2, 1fr);
  }

  .location,
  .phone {
    margin-top: 90px;
    letter-spacing: unset;
  }

  .fax,
  .email {
    margin: 104px 2px 55px 0;
  }

  .email__content {
    display: none;
  }

  .email__content_mob {
    display: block;
  }

  footer {
    margin: 160px 0 0;
    padding: 58px 0 89px;
  }

  .foot-wrap div {
    opacity: 0.7;
    font-size: 29px;
    line-height: 42px;
    letter-spacing: 0.15px;
    font-family: "OpenSans Regular 400";
    color: #323d43;
  }

  .foot-wrap div:first-child {
    margin: 0 0 0 14px;
  }

  .foot-wrap div:last-child {
    margin: 27px 0px 0 13px;
  }

  .foot-wrap {
    grid-template-columns: 1fr;
  }

  .about-hd {
    background: url(../img/about/head-bg_mob.jpg) no-repeat center;
  }

  .below-about {
    width: 60px;
    height: 60px;
    border-radius: 35px;
    margin: 1076px auto 0;
  }

  .below-about span {
    width: 13px;
    height: 13px;
    transform: translateY(20px) rotate(50grad);
  }

  .text-about {
    max-width: 690px;
    margin: 297px auto 0;
    padding: 0 10px;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 1.78px;
  }

  .services {
    grid-template-columns: repeat(1, 1fr);
    margin: 290px auto -77px;
  }

  .services__img img:first-child {
    display: none;
  }

  .services__img img:last-child {
    display: inline-block;
  }

  .services__box h2 {
    font-size: 85px;
    line-height: 85px;
    margin: 77px 0 0 75px;
    letter-spacing: 2.5px;
  }

  .services__text {
    grid-template-columns: repeat(1, 1fr);
    font-size: 34px;
    line-height: 56px;
  }

  .services__text div {
    margin: 101px 0 0 76px;
    max-width: 565px;
  }

  .services__text ul {
    margin: 147px 0 0 89px;
    letter-spacing: 1.5px;
  }

  .work-hd {
    background: url(../img/work/head-bg_mob.jpg) no-repeat center;
    height: 1338px;
  }

  .section-work h2 {
    margin: 236px 12px 0 0;
    font-family: "OpenSans Regular 400";
    font-size: 28px;
    line-height: 28px;
    letter-spacing: unset;
  }

  .section-work h3 {
    margin: 27px 0 0 1px;
    font-size: 90px;
    line-height: 90px;
    opacity: 0.7;
    letter-spacing: unset;
  }

  .text-work {
    margin: 59px auto 0;
    padding: 0 10px;
    max-width: 681px;
    font-size: 29px;
    line-height: 47px;
    letter-spacing: 0.15px;
  }

  .section-work .boxes {
    display: none;
  }

  .section-work .boxes-mob {
    display: flex;
    flex-direction: column;
    margin: 221px auto -155px;
  }

  .project-hd {
    height: 1338px;
    background: url(../img/project/head-bg_mob.jpg) no-repeat center;
  }

  .below-project {
    width: 60px;
    height: 60px;
    border-radius: 35px;
    margin: 1076px auto 0;
  }

  .below-project span {
    width: 13px;
    height: 13px;
    transform: translateY(20px) rotate(50grad);
  }

  .section-project__inner {
    max-width: 680px;
    margin: 148px auto -128px;
    grid-template-columns: 100%;
  }

  .section-project__box h1 {
    margin: 51px 0 0 22px;
    font-size: 95px;
    line-height: 95px;
  }

  .text-project {
    margin: 88px 0 0 30px;
    font-size: 30px;
    line-height: 65px;
    letter-spacing: -0.25px;
  }

  .text-project span {
    font-size: 30px;
    line-height: 65px;
  }

  .box-img {
    display: none;
  }

  .section-project__boxes {
    display: none;
  }

  .box-img_mob,
  .section-project__boxes_mob {
    max-width: 615px;
    display: block;
  }

  .social {
    display: none;
  }

  .blog-hd {
    background: none;
    height: 113px;
  }

  .section-blog__wrap {
    max-width: 674px;
    margin: 66.6px auto -11px;
    padding: 0;
  }

  .section-blog__inner {
    display: block;
  }

  .box-posts,
  .side-area {
    margin: 0;
  }

  .box-post {
    max-width: 674px;
    padding: 0 8.65%;
  }

  .box-post h1 {
    margin: 34px 0 0 0px;
    letter-spacing: -0.01px;
    font-size: 55px;
    line-height: 85px;
  }

  .box-post h4 {
    margin: 46px 0 0 0px;
    letter-spacing: -0.07px;
    font-size: 27px;
    line-height: 27px;
  }

  .box-post__img img:first-child {
    display: none;
  }

  .box-post__img img:last-child {
    display: inline-block;
  }

  .box-post__text {
    font-size: 30px;
    line-height: 47px;
    margin: 55px 0 0 0px;
    letter-spacing: -0.19px;
    max-width: 539px;
  }

  .box-post__button {
    margin: 125.5px 0 61.5px 0px;
    width: 360px;
    height: 91px;
  }

  .box-post__button a {
    padding: 31px 104px;
    letter-spacing: -0.26px;
    width: 360px;
    height: 91px;
    font-size: 30px;
    line-height: 30px;
  }

  .box-post:last-child {
    margin-top: 120px;
  }

  .box-post:last-child .box-post__img {
    margin: 59px 0 0 0;
  }

  .side-area {
    margin: 174px 0 0 0;
    padding: 0 8.65%;
  }

  .categories,
  .projects {
    margin: 104.8px 0 0 0;
  }

  .rescent-posts h2,
  .categories h2 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: unset;
  }

  .rescent-posts hr,
  .categories hr {
    border: solid 4px #d3b000;
    margin: 27px 0px 67px 0;
  }

  .rescent-posts div,
  .categories div {
    margin: 15.5px 0 0px 0;
  }

  .rescent-posts a,
  .categories a {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.16px;
  }

  .projects {
    margin: 98px 0 0 0;
  }

  .projects h2 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: unset;
  }

  .projects hr {
    border: solid 4px #d3b000;
    margin: 27px 0px 59px 0;
  }

  .section-blog__boxes_mob {
    display: block;
  }

  .section-blog__button {
    margin: 76px auto 62px;
    width: 450px;
    height: 110px;
  }

  .section-blog__button a {
    padding: 40px 110px 38px 109px;
    letter-spacing: -0.1px;
    font-size: 30px;
    line-height: 30px;
  }

  .contact-hd {
    background: none;
    height: 113px;
  }

  .section-contact h4 {
    font-family: "OpenSans Regular 400";
    margin: 123px 0 0 0;
    font-size: 28px;
    line-height: 28px;
  }

  .section-contact h1 {
    font-family: "OpenSans Semibold 600";
    margin: 27px 0 0 0;
    font-size: 90px;
    line-height: 90px;
  }

  .contact-box {
    margin: 148.2px auto 0;
    padding: 0 10px;
    max-width: 670px;
    grid-template-columns: 1fr;
    grid-template-areas: unset;
  }

  .contact-adress,
  .contact-tel {
    max-width: 670px;
    height: 374px;
    box-sizing: border-box;
  }

  .contact-adress p,
  .contact-tel p {
    margin: 76px 0 0 56px;
    letter-spacing: 0.05px;
    font-size: 45px;
    line-height: 58px;
  }

  .line {
    margin: 60.6px 0 0 60px;
    width: 56px;
    height: 5px;
  }

  .contact-img {
    margin: 0 0 -4px 0;
  }

  .contact-img img:first-child {
    display: none;
    max-width: 100%;
  }

  .contact-img img:last-child {
    display: inline-block;
    max-width: 100%;
  }

  .contact-text {
    width: unset;
    height: 505px;
  }

  .contact-text p {
    font-size: 30px;
    line-height: 47px;
    margin: 58px 0 0 90px;
    max-width: 500px;
    letter-spacing: -0.25px;
  }

  .contact-tel {
    height: 373.2px;
  }

  .contact-tel p:nth-child(2) {
    margin: 76px 0 0 57px;
  }

  .contact-tel p:last-child {
    margin: 0 0 0 57px;
  }

  .contact-tel .line {
    margin: 59.6px 0 0 60px;
  }

  .contact-email {
    margin: 154px auto -12.3px;
    width: 449px;
  }

  .contact-email a {
    font-family: "OpenSans Regular 400";
    padding: 39.9px 103px;
    letter-spacing: -0.1px;
    font-size: 27px;
    line-height: 27px;
    width: 449px;
    height: 107px;
  }
}

@media all and (max-width: 700px) {
  .section-index .contact + h3 + div iframe {
    width: 550px;
  }

  .section-index .contact + h3 + div {
    margin: 91px auto -5px;
  }
}

@media all and (max-width: 680px) {
  .inner-contact h4 ~ div {
    font-size: 25px;
    margin: 25px 10px;
  }
}

@media all and (max-width: 600px) {
  .txtx {
    color: gray;
    font-style: italic;
    font-size: large;
  }
}

@media all and (max-width: 576px) {
  header > h1 {
    font-size: 70px;
  }

  .logo img {
    width: 200px;
  }

  .logo {
    margin-top: 10px;
  }

  .box {
    height: 64px;
  }

  menu {
    width: 64px;
  }

  .hamburger {
    width: 64px;
    height: 64px;
  }

  .hamburger-line {
    top: 32px;
    left: 15px;
  }

  .menu-items {
    top: 64px;
    width: 125px;
  }

  .menu-items a {
    font-size: 25px;
  }

  .section-index h2 {
    font-size: 20px;
  }

  .section-index > h3 {
    font-size: 55px;
    line-height: 65px;
  }

  .section-index .who-we {
    margin: 80px 0 0 0px;
  }

  .text + button {
    font-size: 20px;
    width: 295px;
    height: 75px;
  }

  .text {
    font-size: 23px;
    line-height: 45px;
  }

  .section-index .what-we {
    margin: 100px 0 0 0;
  }

  .section-index .we-are + h3 + .text {
    line-height: 39px;
  }

  .section-index .we-are {
    margin: 100px 0 0 0;
  }

  .card .card-inner h4 {
    font-size: 22px;
    line-height: 22px;
    margin: 22px 13px 0;
  }

  .card .card-inner h5 {
    font-size: 30px;
    line-height: 30px;
    margin: 22px 13px 0;
  }

  .card .card-inner p {
    font-size: 20px;
    line-height: 41px;
    margin: 22px 14px 50px;
  }

  .last-post + h3 {
    margin: 33px 0 0;
  }

  .last-post {
    margin: 100px 0 0 0;
  }

  .content-post .text-post > h4 {
    font-size: 20px;
  }

  .content-post .text-post > h5 {
    font-size: 45px;
    line-height: 50px;
    margin: 25px 0 0;
  }

  .content-post .text-post > div {
    font-size: 23px;
    margin: 30px 0px 0;
  }

  .content-post .text-post > button {
    width: 135px;
    height: 50px;
    font-size: 20px;
    margin: 30px 2px 40px;
  }

  .content-post .text-post {
    padding: 50px 45px 0;
  }

  .content-post + button {
    font-size: 20px;
    width: 295px;
    height: 75px;
    margin: 50px auto 0;
  }

  .content-post {
    margin: 40px auto 0;
  }

  .section-index .contact + h3 + div iframe {
    width: 440px;
    height: 225px;
  }

  .section-index .contact + h3 + div {
    margin: 40px auto -5px;
  }

  .section-index .contact {
    margin: 100px 0 0 0;
  }

  .inner-contact h4 {
    font-size: 22px;
    line-height: 22px;
  }

  .location,
  .phone {
    margin-top: 50px;
  }

  .phone div,
  .fax div {
    padding: 0;
  }

  .fax,
  .email {
    margin: 50px 0px 30px;
  }

  footer {
    padding: 15px 0;
  }

  .foot-wrap div {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: unset;
  }

  .foot-wrap div:last-child {
    margin: 15px 0px 0 13px;
  }

  .text-about {
    margin: 100px auto 0;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: unset;
  }

  .services {
    margin: 100px auto 0;
  }

  .services__box h2 {
    font-size: 55px;
    line-height: 55px;
    margin: 40px 0 0 55px;
    letter-spacing: unset;
  }

  .services__text {
    font-size: 25px;
    line-height: 45px;
    margin: 35px 0 0 55px;
  }

  .services__text div {
    margin: 0;
  }

  .services__text ul {
    margin: 25px 0 0 25px;
    letter-spacing: unset;
  }

  .section-work h2 {
    margin: 100px 0 0;
    font-size: 22px;
    line-height: 22px;
  }

  .section-work h3 {
    margin: 25px 0 0;
    font-size: 50px;
    line-height: 50px;
  }

  .text-work {
    margin: 40px auto 0;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: unset;
  }

  .section-work .boxes-mob {
    gap: unset;
    margin: 50px auto -155px;
  }

  .section-blog__wrap {
    margin: 60px auto -90px;
  }

  .box-post h1 {
    letter-spacing: unset;
    font-size: 30px;
    line-height: 45px;
  }

  .box-post h4 {
    margin: 28px 0 0 0px;
    letter-spacing: unset;
    font-size: 22px;
    line-height: 22px;
  }

  .box-post__text {
    font-size: 20px;
    line-height: 33px;
    margin: 35px 0 0 0px;
    letter-spacing: unset;
  }

  .box-post__button {
    margin: 75px 0 40px 0px;
    width: 200px;
    height: 55px;
  }

  .box-post__button a {
    padding: 15px 49px;
    letter-spacing: unset;
    width: 200px;
    height: 55px;
    font-size: 20px;
    line-height: 20px;
  }

  .side-area {
    margin: 100px 0 0 0;
  }

  .categories,
  .projects {
    margin: 60px 0 0 0;
  }

  .rescent-posts h2,
  .categories h2 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: unset;
  }

  .rescent-posts hr,
  .categories hr {
    border: solid 2px #d3b000;
  }

  .rescent-posts a,
  .categories a {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: unset;
  }

  .projects h2 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: unset;
  }

  .projects hr {
    border: solid 2px #d3b000;
  }

  .section-blog__boxes_mob > div:nth-child(2),
  .section-blog__boxes_mob > div:nth-child(4) {
    margin: 0;
  }

  .section-blog__boxes_mob > div:nth-child(3) {
    margin: 0;
  }

  .section-blog__button {
    margin: 45px auto 45px;
    width: 200px;
    height: 55px;
  }

  .section-blog__button a {
    padding: 17px 22px;
    letter-spacing: unset;
    font-size: 20px;
    line-height: 20px;
  }

  .section-contact h4 {
    margin: 50px 0 0 0;
    font-size: 22px;
    line-height: 22px;
  }

  .section-contact h1 {
    font-size: 45px;
    line-height: 45px;
  }

  .contact-box {
    margin: 70px auto 0;
  }

  .contact-adress p,
  .contact-tel p {
    letter-spacing: unset;
    font-size: 32px;
    line-height: 55px;
  }

  .line {
    margin: 60px 0 0 60px;
    width: 40px;
    height: 4px;
  }

  .contact-text {
    padding: 0 10px 0 0px;
  }

  .contact-text p {
    font-size: 25px;
    line-height: 47px;
    margin: 60px 0 0 55px;
    letter-spacing: unset;
  }

  .contact-email {
    width: 226px;
    margin: 100px auto -80px;
  }

  .contact-email a {
    padding: 17px 12px;
    letter-spacing: unset;
    font-size: 22px;
    line-height: 22px;
    width: 226px;
    height: 56px;
  }
}

@media all and (max-width: 480px) {
  header > h1 {
    font-size: 59px;
    line-height: 105px;
    margin: 349px 10px 0 10px;
  }

  .section-index > h3 {
    font-size: 48px;
    line-height: 55px;
  }

  .text + button {
    font-size: 16px;
    width: 230px;
    height: 50px;
    margin: 30px auto 0;
  }

  .text {
    font-size: 20px;
    line-height: 39px;
    margin: 40px 36px 0;
  }

  .section-index .what-we + h3 {
    font-size: 48px;
    line-height: 55px;
  }

  .section-index .what-we {
    font-size: 20px;
    line-height: 20px;
  }

  .boxes-mob {
    margin: 50px auto 0;
  }

  .content-post .text-post > div {
    font-size: 20px;
    line-height: 40px;
  }

  .content-post + button {
    font-size: 16px;
    width: 230px;
    height: 50px;
  }

  .section-index .contact + h3 + div iframe {
    width: 300px;
    height: 180px;
  }

  .inner-contact > div {
    margin: 50px auto 0;
  }

  .inner-contact {
    grid-template-columns: repeat(1, 1fr);
  }

  .foot-wrap div {
    font-size: 15px;
    line-height: 15px;
  }

  .text-about {
    font-size: 20px;
    line-height: 35px;
  }

  .services__box h2 {
    font-size: 35px;
    line-height: 35px;
  }

  .services__text {
    font-size: 20px;
    line-height: 35px;
  }

  .section-project__inner {
    margin: 100px auto -128px;
  }

  .section-project__box h1 {
    margin: 35px 0 0 22px;
    font-size: 55px;
    line-height: 55px;
  }

  .text-project {
    margin: 35px 0 0 30px;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: unset;
  }

  .box-img_mob {
    margin: 100px auto 0;
  }

  .box-img_mob div {
    margin: 0 0 5px 0;
  }

  .contact-adress,
  .contact-tel {
    height: 300px;
  }

  .contact-adress p,
  .contact-tel p {
    margin: 35px 0 0 55px;
    font-size: 24px;
    line-height: 50px;
  }

  .contact-text {
    padding: 0 10px 15px 0px;
    height: unset;
  }

  .contact-text p {
    font-size: 20px;
    line-height: 33px;
    margin: 45px 0 0 40px;
  }

  .contact-tel p:nth-child(2) {
    margin: 35px 0 0 55px;
    word-spacing: -1px;
  }

  .contact-tel p:last-child {
    word-spacing: -1px;
    margin: 0 0 0 55px;
  }
}